@import "variables";

.about-and-video {
  position: relative;
  width: 100vw;
  background-image: url(../images/backgrounds/background_2.svg);
  background-size: 118%;
  background-position: center -675px;

  @include mobile {
    background-size: 290%;
    background-position: left -168px top -42px;
  }

  .container {
    position: relative;
  }

  .container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .about::after {
    background-color: $light-yellow;
  }

  .video-2022::after {
    background-color: $white;
  }

  .video-2022 {
    text-align: center;

    h4 {
      font-size: 2.5rem;
      color: $dark-blue;
      letter-spacing: 0;
      line-height: 2.5rem;
      text-align: center;
      padding: 80px 0 30px;
      font-family: $main-font-bold;

      @include small-desktop {
        font-size: 2rem;
        line-height: 2rem;
        padding: 60px 0 30px;
      }
    }

    iframe {
      width: 960px;
      border-radius: 5px;
      aspect-ratio: 16 / 9;
      background: #d8d8d8;

      @include small-desktop {
        width: 75%;
      }

      @include mobile {
        width: 100%;
        padding: 0 2px;
      }
    }

    p {
      margin: auto;
      max-width: 35%;
      padding: 60px 0;
      text-align: center;
      letter-spacing: 0;
      color: $dark-blue;
      font-size: 1.625rem;
      line-height: 2.125rem;
      font-family: $main-font;

      @include small-desktop {
        max-width: 60%;
      }

      @include mobile {
        max-width: 85%;
        font-size: 1.25rem;
        line-height: 1.625rem;
      }
    }
  }

  .info {
    margin: auto;
    display: flex;
    max-width: calc(min(85vw, 1080px));
    gap: 70px;
    padding: 163px 0 145px 0;

    @include small-desktop {
      gap: 60px;
      padding: 60px 0;
      align-items: center;
      flex-direction: column;
    }
  }

  h3 {
    font-size: 5rem;
    font-weight: 800;
    color: $dark_blue;
    line-height: 5rem;
    text-align: center;
    font-family: $secondary-font;

    @include mobile {
      @include responsiveTitle(80%, 3.43rem);
    }
  }

  p {
    color: $dark_blue;
    font-size: 1.625rem;
    line-height: 2.125rem;
    font-family: $main-font;

    @include mobile {
      font-size: 1.25rem;
      line-height: 1.625rem;
    }

    @include small-desktop {
      width: 100%;
    }
  }

  .text-and-button {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 60px;
    @include sm {
      text-align: center;
    }
    @include lg {
      text-align: left;
    }
  }

  .button.get-involved {
    font-size: 2.5rem;
    border-radius: 59px;
    line-height: 2.5rem;
    color: $light-yellow;
    background: $dark-blue;
    padding: 31.5px 50px 16.5px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid $dark-blue;
    background-color: rgba(8, 23, 94, 1);
    box-shadow: 0 25px 35px 0 $shadow-color;
    min-width: calc(min(290px, 90vw));
    @include small-desktop {
      font-size: 2rem;
      line-height: 2rem;
      margin-left: auto;
      margin-right: auto;
      border-radius: 32px;
      padding: 16px 4px 4px;
      box-shadow: 0 21px 29px 0 $shadow-color;
    }
  }

  .button.get-involved:hover {
    border: 2px solid $light-yellow;
  }

  .button.get-involved a:hover {
    color: $light-yellow;
  }
}
