.cookie-banner {
    position: sticky;
    background: white;
    color: $secondary_col;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1.25rem;
    text-align: center;
    z-index: 9999;
    p {
      text-align: center;
      padding-top: 0.6rem;
      a {
        color: black;
      }
    }
  
    a {
      color: white;
    }
  
    .cookie-button {
      border-style: solid;
      display: block;
      width: 100px;
      margin: 1rem auto 0 auto;
      cursor: pointer;
      border-radius: 35px;
    }
}

//top-bottom-paddings
.tb_padding{
  padding-top: 4rem;
  padding-bottom: 4rem;

  @include tablet{
    padding-top: 5.6rem;
     padding-bottom: 5.6rem;
  }

  @include desktop{
    padding-top: 105px;
    padding-bottom: 105px;
  }
}


//background
.custom_bg-1{
  background-color: $custom_col-1;
}

//btns
.primary_btn {
    // color: var(--blue);
    background-color: $secondary_col;
    color: $white;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.6rem;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    padding: 1.3rem;
    width: 100%;
    display: inline-block;

    svg, img{
      margin-left: 0.6rem;
    }
}

tito-button button{
  background-color: none;
  outline: none;
  border: none;
}

  
//content-classes
.pre-heading{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  margin-bottom: 2rem;
  text-align: center;

  @include tablet{
    margin-bottom: 2.7rem;
  }

  &__text{
    color: $primary_col;
    font-size: 1.4rem;
    line-height: 1.75rem;
    font-weight: bold;
    max-width: 65%;
    

    @include mobile{
      font-size: 2.2rem;
      line-height: 2.7rem;
    }
  }
}

.content-text{
  font-size: 1rem;
  line-height: 1.5rem;

  @include tablet{
    font-size: 1.4rem;
    line-height: 2.1rem;
  }

  & + .content-text{
    margin-top: 1.25rem;
  }
}

.text-align{
  text-align: left;
  max-width: 867px;

  @include mobile{
    text-align: center;
    margin: auto;

  }
}

//decorative elements

.section_wrapper{
  position: relative;
  overflow: hidden;
}

.decoration_element{

  &_left, &_right{
    position: absolute;

    width: 145px;

    @include tablet{
      width: 200px;
    }
    
    @include desktop{
      width: 270px;
    }

    @include media-min(1400px){
      width: 345px;
    }
  }

  &_left{
    
    left: 0;
    top: 35%;
    z-index: 1;
    @include tablet{
      top: 45%;
    }
    @include desktop-xl{
      top: 39%;
    }
    transform: rotate(160deg);
  }

  &_right{
    right: 0;
    top: 39%;
    z-index: 1;
    @include tablet{
      top: 43%;
    }
  }
}

//clearing floats
.clearfix {
	overflow : visible;

	&::after {
		content : "";
		clear : both;
		display : block;
	}
}

.hidden {
	display : none !important;
}