/* Tomkin Condense */
@font-face {
  font-family: "TomkinCondense-Medium";
  font-style: medium;
  font-weight: 700;
  font-display: swap;
  src: url(/css/fonts/TomkinCondense-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "TomkinCondense-Regular";
  font-style: regular;
  font-weight: 700;
  font-display: swap;
  src: url(/css/fonts/TomkinCondense-Regular.woff2) format("woff2");
}
