//variables
$font: 'Poppins', sans-serif;

//breakpoints
$desktop-xl-breakpoint: 1400px;
$desktop-breakpoint: 1200px;
$tab-breakpoint: 768px;
$mobile-breakpoint: 576px;

//colors

$white: white;
$base: #000;
$primary_col: rgb(226, 86, 65);
$secondary_col: rgb(42, 59, 144);
$custom_col-1: rgb(253, 248, 244);
