:root {
    --bayOfMany: #2a3b90;
    --linen: #fdf8f4;
    --burntSienna: #e76146;
    --font: Poppins Regular;
    --font-bold: Poppins Bold;
    --font-size-small: 16px;
    --space-xxs: 2px;
    --space-xs: 4px;
    --space-s: 8px;
    --space-m: 16px;
    --space-l: 32px;
    --space-xl: 64px;
    --space-xxl: 128px;
    --line-height-small: 24px;
    --line-height-medium: 33px;
    --line-height-big: 40.5px;
    $desktop-xl-breakpoint: 1400px;
    $desktop-breakpoint: 1200px;
    $tab-breakpoint: 768px;
    $mobile-breakpoint: 576px;
  
  }