---
---

:root {
  --flamePea: #e25641;
  --sunglo: #e27e6f;
  --blue: #0a2137;
  --gallery: #f0f0f0;
  --font: Helvetica;
  --font-size-big: 27px;
  --height-big: 162px;
  --line-height-big: 40.5px;
  --font-size-medium: 24px;
  --height-medium: 132px;
  --line-height-medium: 33px;
  --font-size-small: 18px;
  --height-small: 54px;
  --line-height-small: 27px;
  --width: 600px;
  --space-xxs: 2px;
  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 32px;
  --space-xl: 64px;
  --space-xxl: 128px;
  --max-paragraph-width: 865px;
}

body {
  background-color: var(--blue);
  font-family: var(--font);
  color: var(--gallery);
  display: flex;
  flex-direction: column;
  background-image: url(/images/background-mobile.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
h2 {
  font-size: 28px;
  font-weight: bold;
  line-height: var(--line-height-medium);
}

h3 {
  font-size: var(--font-size-medium);
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}

h4 {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: var(--space-s);
}

.paragraphLarge {
  font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);
}

.bold {
  font-weight: bold;
}

a {
  color: var(--gallery);
  text-decoration-color: var(--sunglo);
}

.paragraphBase {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.header__title {
  color: var(--flamePea);
  font-size: 40px;
  font-weight: bold;
}

.header__title a {
  color: inherit;
  text-decoration: none;
}

.header__brackets {
  color: var(--sunglo);
}

.header__landing-page {
  flex-direction: column;
}

.header__landing-page__date {
  font-size: 14px;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: var(--space-m);
  padding-right: var(--space-m);
  padding-bottom: var(--space-l);
  margin-left: var(--space-s);
  margin-right: var(--space-s);
}

.footer {
  margin-left: var(--space-s);
  margin-right: var(--space-s);
}

.footer__wrapper--top {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: var(--space-l);
  padding-right: var(--space-l);
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}

.footer__wrapper--bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}

.footer__copyright {}

.footer__pastEvents {
  padding-bottom: var(--space-m);
}

.footer__thanks {
  padding-bottom: var(--space-m);
}

.footer__links {
  text-decoration-color: var(--gallery);
}

.icon {
  padding-bottom: var(--space-l);
}

hr {
  align-self: center;
  border-top: 2px solid;
}

.introduction {
  margin-bottom: var(--space-xl);
  margin-left: var(--space-s);
  margin-right: var(--space-s);
}

.introduction__text {
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}

.sponsors {
  margin-left: var(--space-s);
  margin-right: var(--space-s);

  .row {
    display: flex;
    justify-content: space-evenly;
    margin-top: var(--space-l);
    margin-bottom: var(--space-l);

    a {
      display: inline-flex;
    }

    img {
      max-width: 15vw;
      max-height: 100px;
    }
  }
}

.text__highlight {
  color: var(--flamePea);
}

.pre-heading {
  border-bottom: 3px solid;
  padding-top: var(--space-l);
  text-align: left;
}

.workshop {
  margin-left: var(--space-s);
  margin-right: var(--space-s);
  background-image: url(/images/workshop-image@2x.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 50%;
}

.workshop__infos h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: var(--space-s);
}

.workshop__infos h4 + h4 {
  margin-top: 0;
}

.workshop__text {
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}

.workshop__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--space-l);
}

.workshop__content {
  margin-bottom: var(--space-l);
}

.workshop__leads-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: var(--space-l);

  .workshop__lead {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      width: 75%;
      height: auto;
    }

    .workshop__lead-links {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        display: flex;
        height: var(--font-size-small);
        width: var(--font-size-small);

        img {
          height: var(--font-size-small);
          width: var(--font-size-small);
        }
      }

      a + a {
        margin-left: 12px;
      }
    }
  }
}

.tito-tickets-button {
  color: white;
  border-radius: 24px;
  font-size: var(--font-size-small);
  background: var(--sunglo);
  height: 48px;
  width: 288px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;

  &:hover, &:focus {
    background: var(--flamePea);
  };
}

.button__text {
  color: var(--blue);
}

.button:hover {
  background: var(--flamePea);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.video-2019 {
  display: flex;
  flex-direction: column;
  background-image: url(/images/video-2019-background.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: var(--space-s);
  padding-right: var(--space-s);

  iframe {
    width: 280px;
    height: 158px;
    margin: 0 auto;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-image: url(/images/background-tablet.svg);
  }

  .introduction {
    margin-left: var(--space-m);
    margin-right: var(--space-m);
  }

  .video-2019 {
    padding-left: var(--space-m);
    padding-right: var(--space-m);
  }

  .sponsors {
    margin-left: var(--space-m);
    margin-right: var(--space-m);
  }

  .workshop {
    background-size: 75%;
    padding-top: 25%;
    margin-left: var(--space-m);
    margin-right: var(--space-m);
  }

  .workshop__heading {
    padding-left: 25%;
  }

  .workshop__leads-list {
    justify-content: flex-start;
  }

  .workshop__lead {
    margin-right: var(--space-xl);
  }

  .paragraphLarge {
    line-height: var(--line-height-medium);
  }

  h4 {
    text-align: left;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__title {
    font-size: 69px;
  }

  .header__landing-page__date {
    font-size: 28px;
  }

  .wrapper {
    padding-bottom: var(--space-l);
    margin-left: var(--space-m);
    margin-right: var(--space-m);
  }

  .button {
    width: 416px;
  }

  .video-2019 iframe {
    width: 560px;
    height: 315px;
  }

  .footer {
    margin-left: var(--space-m);
    margin-right: var(--space-m);
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    background-image: url(/images/hero-background-1.svg);
  }

  .introduction {
    margin-left: var(--space-xl);
    margin-right: var(--space-xl);
  }

  .video-2019 {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
  }

  .sponsors {
    margin-left: var(--space-xl);
    margin-right: var(--space-xl);
  }

  .workshop {
    background-size: 75%;
    padding-top: 25%;
    margin-left: var(--space-xl);
    margin-right: var(--space-xl);
  }

  .workshop__heading {
    padding-left: 25%;
  }

  .workshop__leads-list {
    justify-content: flex-start;
  }

  .workshop__lead {
    margin-right: var(--space-xl);

    img {
      width: auto;
    }
  }

  h2 {
    font-size: 40px;
    line-height: var(--line-height-big);
  }

  h4 {
    text-align: left;
  }

  .paragraphLarge {
    font-size: var(--font-size-big);
    line-height: var(--line-height-big);
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__title {
    font-size: 136px;
  }

  .header__landing-page__date {
    font-size: 40px;
  }

  .wrapper {
    margin-left: var(--space-xl);
    margin-right: var(--space-xl);
    padding-bottom: var(--space-xxl);
  }

  .video-2019 iframe {
    width: 720px;
    height: 405px;
  }

  .button {
    width: 416px;
  }

  .footer {
    margin-left: var(--space-xl);
    margin-right: var(--space-xl);
  }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  body {
    background-image: url(/images/hero-background-1.svg);
  }

  .introduction {
    margin-left: var(--space-xl);
    margin-right: var(--space-xl);
  }

  .video-2019 {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
  }

  .sponsors {
    margin-left: var(--space-xl);
    margin-right: var(--space-xl);
  }

  .workshop {
    background-size: 75%;
    padding-top: 25%;
    margin-left: var(--space-xl);
    margin-right: var(--space-xl);
  }

  .workshop__heading {
    padding-left: 25%;
  }

  .workshop__leads-list {
    justify-content: flex-start;
  }

  .workshop__lead {
    margin-right: var(--space-xl);

    img {
      width: auto;
    }
  }

  h2 {
    font-size: 40px;
    line-height: var(--line-height-big);
  }

  h4 {
    text-align: left;
  }

  .workshop__content {
    padding-left: 25%;
  }

  .workshop__button {
    justify-content: left;
  }

  .paragraphLarge {
    font-size: var(--font-size-big);
    line-height: var(--line-height-big);
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__title {
    font-size: 136px;
  }

  .header__landing-page__date {
    font-size: 40px;
  }

  .wrapper {
    width: 50%;
    margin: 0 auto;
    padding-bottom: var(--space-xxl);
  }

  .footer__wrapper--bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .footer__copyright {}

  .footer__pastEvents {
    width: 33%;
  }

  .footer__thanks {
    width: 33%;
    text-align: center;
  }

  .footer__bottomNav {
    width: 33%;
    text-align: right;
  }

  .video-2019 iframe {
    width: 960px;
    height: 540px;
  }

  .footer {
    margin-left: var(--space-xl);
    margin-right: var(--space-xl);
  }
}
