---
---

:root {
  --bayOfMany: #2a3b90;
  --linen: rgb(253, 248, 244);;
  --burntSienna: #e76146;
  --font: Poppins Regular;
  --font-bold: Poppins Bold;
  --font-size-small: 16px;
  --space-xxs: 2px;
  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 32px;
  --space-xl: 64px;
  --space-xxl: 128px;

}

@font-face {
  font-family: Poppins Regular;
  src: url(/css/fonts/FontsFree-Net-Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins Bold;
  src: url(/css/fonts/FontsFree-Net-Poppins-Bold.ttf);
}

body {
  background-color: white;
  font-family: var(--font);
  color: black;
  font-size: var(--space-m);
  display: flex;
  flex-direction: column;
  background-image:url(/images/Rome-incognito.svg), url(/images/hero-background-mobile.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

.paragraphBase {
  font-size: var(--space-m);
  line-height: 24px;
  margin-left: var(--space-m);
  margin-right: var(--space-m);
  margin-top: 15px;
  margin-bottom: 40px;

}

.paragraphBase a {
  color: black;
  text-decoration: none;
}

.paragraphLarge {
  font-size: var(--space-m);
  line-height: 24px;
  margin-left: var(--space-m);
  margin-right: var(--space-m);
  margin-top: var(--space-l);
  margin-bottom: var(--space-l);
}

h3 {
  font-size: 18px;
  height: 27px;
  line-height: 27px;
  color: var(--burntSienna);
  font-family: var(--font-bold);
  text-align: center;
  line-height: 27px;
}

h4 {
  font-family: var(--font-bold);
}


.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  flex-direction: column;
  color: white;
}

.header__landing-page {
    display: flex;
    background-image: url(/images/location_buildings.svg), url(/images/2021_Geometric_Background.svg);
    background-repeat: no-repeat;
    background-size: auto, cover;
    background-position: center bottom, center;
    min-height: 75vh;
}

.header__title {
  font-size: 35px;
  font-family: var(--font-bold);
  // padding-top: var(--space-l);
  // padding-bottom: var(--space-l);
}

.header__title a {
  color: inherit;
  text-decoration: none;
}

.header__pre-title {
  font-size: var(--space-m);
  font-family: var(--font-bold);
  // padding-top: 100px;
  color: white;

}

.header__date {
  font-size: var(--space-m);
  font-family: var(--font-bold);
  // padding-bottom: var(--space-xl);
  color: white;

}

.button {
  background-color: var(--bayOfMany);
  color: white;
  border-radius: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: var(--font-bold);
  text-transform: uppercase;
  height: 67px;
  width: 416px;
  // display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  margin-top: 35px;
  -webkit-appearance: none;
  -moz-appearance: none;

}

.button::after{
  content: url(/images/arrow-right.svg);
  margin-left: 10px;
  align-content: center;
}

.pre-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pre-heading__text {
  // padding-top: 64px;
}

.laurel-image-left {
  // margin-top: var(--space-xl);
  padding-left: var(--space-m);
  padding-right: var(--space-m);

}

.laurel-image-right {
  // margin-top: var(--space-xl);
  padding-right: var(--space-m);
  padding-left: var(--space-m);

}

.decoration_element_right {
  text-align: right;
}

.decoration_element_left {
  text-align:left;
}

.decoration_element_left img {
  width: 569.79px;
  height: 569.79px;
}

.introduction_wrap {
  background: url('/images/decorative-element.svg');
  background-position: right bottom -415px;
  background-repeat: no-repeat;
  padding-top: var(--space-l);
  padding-bottom: var(--space-xxl);
}

.get-involved {
  background-color: var(--linen);
  background-image: url('/images/decorative-element.svg');
  background-position: right bottom 105px;
  background-repeat: no-repeat;
}

.get-involved__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-left: var(--space-m);
  margin-right: var(--space-m);
  margin-bottom: var(--space-m);
  width: 400px;
  height: 120px;
  border-radius: 10px;
}

.get-involved__image {
  height: var(--space-l);
  width: var(--space-l);
  padding-top: 40px;
}

.video-2019 {
  display: flex;
  flex-direction: column;
  padding-left: var(--space-s);
  padding-right: var(--space-s);
  position: relative;

  iframe {
    width: 320px;
    height: 181px;
    margin: 0 auto;
  }
}

.video-2019::before {
  content: "";
  position: absolute;
  overflow: hidden;
  width: 100%; /* made width 100% */
  height: 100%; /* made height 100% */
  z-index: -1;
  background: url('/images/2021 _ motif _ decorative element_desktop.svg');
  background-position: right -130px top -200px ;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.video-2019 a {
  position: relative;
}

.past-speakers {
  background-color: var(--linen);
  margin-bottom: var(--space-xl);
  position: relative;
  height: 790px;
  border-radius: 0px;
}

.past-speakers::before {
  content: "";
  position: absolute;
  width: 100%; /* made width 100% */
  height: 100%; /* made height 100% */
  background: url('/images/2021 _ motif _ decorative element_desktop.svg');
  background-position: right -122px bottom -370px ;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.past-speakers a {
  position: relative;
}

.past_speakers_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--space-l);
  padding-bottom: var(--space-xxl);
}

.past_speakers_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: var(--space-m);
  margin-right: var(--space-m);

  img.speaker_image {
    width: 190px;
    height: 190px;
    background: rgb(209, 209, 209);
    border-radius:100px;
  }
}

.speaker_name {
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);

}

.past_speakers_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.twitterlink {
  margin-right: var(--space-l);
}

.sponsors {
  margin-left: var(--space-s);
  margin-right: var(--space-s);
  margin-bottom: var(--space-xl);
  height: 923px;

  .row {
    display: flex;
    justify-content: space-evenly;
    margin-top: var(--space-l);
    margin-bottom: var(--space-l);

    a {
      display: flex;
      align-items: center;
    }

    img {
      max-width: 15vw;
      max-height: 45px;
      display: block;
      width: auto;
      height: auto;
    }
  }
}



.mailing-list {
  display: flex;
  color: white;
  background-image: url(/images/2021_Geometric_Background.svg);
  background-position: top left;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  background-size: cover;


  .indicates-required {
    margin-bottom: var(--space-l);
  }

  .form {
    padding: var(--space-xl);
    display: block;
    text-align: center;

    h2, h3 {
      color: white;
      font-family: var(--font-bold);
      text-align: center;
    }

    form {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    }

    label {
      font-family: var(--font-bold);
      letter-spacing: var(--space-xxs);
      font-size: 13px;
      text-transform: uppercase;
      margin-bottom: var(--space-s);
      margin-top: var(--space-s);
      display: block;
    }

    .mc-field-group {
      padding-bottom: var(--space-l);
    }

    .button {
      margin-top: var(--space-l);
      width: 416px;
      height: 67px;
      background: var(--bayOfMany);
      border-radius: 10px;
    }

    input {
      width: 416px;
      height: 48px;
      background: rgb(255, 255, 255);
      border: 1px solid rgb(219, 219, 219);
      box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.1),
                   0px 2px 3px 0px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      // border: none;
    }
  }
}

.footer {
  background-color: var(--bayOfMany);
  color: white;
  padding-top: var(--space-xl);
}

.footer__wrapper--top {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: var(--space-l);
  padding-right: var(--space-l);
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}

.footer__wrapper--bottom {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
  // padding-left: 250px;
  // padding-right: var(--space-xxl);
  justify-content: space-around;
}

.footer__copyright {}

.footer__pastEvents {
  padding-bottom: var(--space-m);
  padding-right: 270px;
}

.footer__thanks {
  padding-bottom: var(--space-m);
  padding-right: var(--space-s);
}

.footer__links {
  text-decoration-color: white;
}

.icon {
  padding-bottom: var(--space-l);
}

a {
  color: white;
}

hr {
  align-self: center;
  border-top: 2px solid;
}


/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px){

  body {
      background-image:url(/images/hero-background-desktop.svg);
      max-height: 600px;
  }


  .header__pre-title {
    font-size: 28px;
  }

  .header__title {
    font-size: 107px;
  }

  .header__date {
    font-size: 28px;
  }

  .button {
    height: 67px;
    width: 416px;
    padding-top: 21px;
    padding-bottom: 21px;

  }

  h3 {
    font-size: 35px;
  }

  h4 {
    font-size: 28px;
  }

  .paragraphLarge {
    font-size: 22px;
    line-height: 33px;
    margin-left: 286px;
    margin-right: 286px;
    text-align: center;

  }

  .paragraphBase {
    font-size: 18px;
  }

  .video-2019 iframe {
    height: 505px;
    width: 1022.29px;
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xxl);
  }

  .mailing-list {
    background-image: url(/images/newsletter-background-desktop.svg);

  }

  .pre-heading {
    margin-top: 128px;

  }


  .get-involved__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: var(--space-l);
    padding-bottom: var(--space-xxl);
  }

}
