---
---

body {
  height: 100%;
  line-height: 1.7;
  font-weight: 300;
  font-family: "Consolas", sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

p {
  font-size: 18px;
}

.section {
  padding: 40px 0;

  h4 {
    font-size: 24px;
  }

  a {
    color: #e25641;

    &:hover {
      text-decoration: underline;
    }
  }

  &.alternate {
    background: #e25641;
    color: #fff;

    a {
      color: #333;
    }
  }
}

.title {
  padding: 80px 0 20px 0;
  text-align: center;
  background-image: url(/images/berlin.jpg);
  background-size: cover;
  min-height: 100vh;

  img {
    margin-bottom: 10px;
  }

  h2 {
    margin: 120px 0 40px 0;
    font-family: "Consolas-Bold";
    font-size: 32px;

    span {
      color: #000;
      font-size: 20px;
      margin: 0 3px 0 3px;

      strong {
        color: #dadada;
        font-weight: normal;
      }
    }

    a, a:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  h1 {
    font-family: "Consolas-Bold";
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin: 20px 0 40px 0;

    strong {
      color: #000;
      font-family: "Consolas";
      font-weight: normal;
    }
  }
}

.footer {
  padding: 10px 0;
  font-size: 12px;

    a {
      color: #e25641;
      transition: color ease-in-out .15s;

      &:hover {
        text-decoration: underline;
      }
    }

  .links {
    a {
      margin-left: 10px;
    }
  }
}

@media (max-width: 768px) {
  .title {
    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 20px;
    }
  }
}

#map-canvas {
  height: 250px;
  margin: 10px 0 10px 0;
}

html, body {
  /** Disable horizontal scroll on smaller devices **/
  max-width: 100%;
  overflow-x: hidden;
}

