---
---

@import "reset";
@import "variables";
@import "fonts";
@import "mixins";
@import "footer";

body {
  background-color: $light-yellow;
  background-position: top center;
  background-image: url(../images/backgrounds/background_1-grey.svg);
  font-family: $main-font;
}

p {
  color: $dark_blue;
  font-size: 1.625rem;
  line-height: 2.125rem;
  font-family: $main-font;

  @include mobile {
    font-size: 1.25rem;
    line-height: 1.625rem;
  }
}

.sidepages__header {
  gap: 60px;
  display: flex;
  padding: 40px 0 100px 0;
  align-items: center;
  justify-content: center;

  .logo_horizontal {
    display: none;
  }

  @include mobile {
    gap: 20px;
    padding: 10px 8px 50px;

    .logo_vertical {
      display: none;
    }

    .logo_horizontal {
      display: block;
    }

    .logo_and_date {
      gap: 10px;
      display: flex;
      flex-direction: column;
    }

    .location::before {
      content: "/";
      padding: 0 4px;
    }
  }

  img.logo_vertical {
    height: 9rem;
  }

  img.header__image {
    height: 52px;

    @include mobile {
      height: 25px;
    }
  }

  .date_and_location {
    display: flex;
    flex-wrap: wrap;
    color: $dark_blue;
    font-size: 2.5rem;
    max-width: 11.5rem;
    text-transform: uppercase;

    @include mobile {
      max-width: 14rem;
      font-size: 1.3rem;
      line-height: 1.7rem;
    }
  }
}

.content {
  margin: auto;
  max-width: 70%;
  padding-bottom: 150px;

  @include mobile {
    margin: 0 27px;
    max-width: 100%;
    padding-bottom: 80px;
  }

  h3.cancellation__title {
    margin-bottom: 20px;
  }

  .imprint__responsible_info {
    gap: 40px;
    display: flex;
    text-align: center;
    padding-bottom: 20px;
    flex-direction: column;

    p:last-of-type {
      font-size: 2.5rem;
      line-height: 2.75rem;

      @include mobile {
        font-size: 2rem;
        line-height: 2rem;
      }
    }
  }

  h3 {
    font-size: 5rem;
    font-weight: 800;
    color: $dark_blue;
    text-align: center;
    margin-bottom: 60px;
    font-family: $secondary-font;

    @include mobile {
      padding: 0 10px;
      font-size: 2.875rem;
      line-height: 2.875rem;
    }
  }

  h4 {
    font-size: 2.5rem;
    color: $dark_blue;
    padding: 60px 0 20px 0;
    font-family: $main-font-bold;

    @include mobile {
      padding: 40px 0;
    }
  }

  p.conduct__first_paragraph {
    padding-bottom: 40px;
    @include mobile {
      padding-bottom: 0;
    }
  }

  h4:first-of-type {
    margin-top: 0;
  }
}
