---
---

@import "reset";
@import "variables";
@import "fonts";
@import "mixins";
@import "footer";

body {
  background-size: auto 114%;
  background-color: $light-yellow;
  background-position: top center;
  background-image: url(../images/backgrounds/background_1-grey.svg);
  font-family: $main-font;
}

p {
  color: $dark_blue;
  font-size: 1.625rem;
  line-height: 2.125rem;
  font-family: $main-font;

  @include tablet {
    font-size: 1.25rem;
    line-height: 1.625rem;
  }
}

.sidepages__header {
  gap: 60px;
  display: flex;
  padding: 40px 0 100px 0;
  align-items: center;
  justify-content: center;


  @include tablet {
    display: grid;
    grid-gap: 10px 20px;
    justify-items: center;
    padding: 30px 8px 50px;

    .logo, .header__image {
      grid-row: 1;
    }

    .date_and_location {
      gap: 10px;
      display: flex;
      grid-column: 1 / span 2;
    }
  }

  .location::before {
    content: "/";
    padding: 0 4px;
  }

  img.logo {
    height: 144px;

    @include tablet {
      height: 24px;
    }
  }

  img.header__image {
    height: 52px;

    @include tablet {
      height: 25px;
    }
  }

  .date_and_location {
    display: grid;
    color: $dark_blue;
    font-size: 2.5rem;
    text-transform: uppercase;

    @include tablet {
      gap:0;
      display: flex;
      flex-wrap: wrap;
      font-size: 1.3rem;
      line-height: 1.7rem;
    }
  }
}

.content {
  margin: auto;
  max-width: 1000px;
  padding-bottom: 150px;

  @include mobile {
    margin: 0 27px;
    max-width: 100%;
    padding-bottom: 80px;
  }

  @include tablet {
    max-width: 90%;
  }

  h3.cancellation__title {
    margin-bottom: 20px;
  }

  .imprint__responsible_info {
    gap: 40px;
    display: flex;
    text-align: center;
    padding-bottom: 20px;
    flex-direction: column;

    p:last-of-type {
      font-size: 2.5rem;
      line-height: 2.75rem;

      @include mobile {
        font-size: 2rem;
        line-height: 2rem;
      }
    }
  }

  h3 {
    font-size: 5rem;
    font-weight: 800;
    color: $dark_blue;
    text-align: center;
    margin-bottom: 60px;
    font-family: $secondary-font;

    @include tablet {
      padding: 0 10px;
      font-size: 2.875rem;
      line-height: 2.875rem;
    }
  }

  h4 {
    font-size: 2.5rem;
    color: $dark_blue;
    padding: 60px 0 20px 0;
    font-family: $main-font-bold;

    @include tablet {
      padding: 40px 0;
    }
  }

  p.conduct__first_paragraph {
    padding-bottom: 40px;
    @include tablet {
      padding-bottom: 0;
    }
  }

  h4:first-of-type {
    margin-top: 0;
  }
}
