/* ************* */
/* GENERIC STUFF */

@font-face {
    font-family: 'LibelSuitRegular';
    src: url('/fonts/libel/libelsuit-webfont.eot');
    src: url('/fonts/libel/libelsuit-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/libel/libelsuit-webfont.woff') format('woff'), url('/fonts/libel/libelsuit-webfont.ttf') format('truetype'), url('/fonts/libel/libelsuit-webfont.svg#LibelSuitRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LibelSuitRegular';
    src: url('/fonts/libel/libelsuit-webfont.eot');
    src: url('/fonts/libel/libelsuit-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/libel/libelsuit-webfont.woff') format('woff'), url('/fonts/libel/libelsuit-webfont.ttf') format('truetype'), url('/fonts/libel/libelsuit-webfont.svg#LibelSuitRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#mc_embed_signup{
    position: absolute;
    top: -10%;
    left: 65%;

    color: #000;
    background:#fff;
    clear:left;
    font:14px Helvetica,Arial,sans-serif;
    width:350px;
    opacity: 0.8;
    filter: alpha(opacity=80);


}

/* ************* */

/* ************* */
/* GENERIC STUFF */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    background: #EBEBEB;
    margin: 0;
}

.container {
    width: 976px;
    margin: 15px auto;
    margin-top: 5px;
}

.right {
    float: right;
}

.left {
    float: left;
}

/* ************* */

.nav {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.nav .twitter {
    float: left;
    width: 50px !important;
}

.nav .mail {
    float: right;
    width: 50px !important;
}

/* ************* */
/* STICKY NAV BAR*/

.sticky-nav {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 1050px;
    font-size: 14px;
    height: 87px;
    font-family: "Helvetica Medium", Arial, sans-serif;
}

.sticky-navbar {
    clear: both;
    margin: 0;
    width: 100%;
    background: #3B3C50;
}

.sticky-navbar .sticky-nav > li {
    float: left;
    line-height: 26px;
}

.sticky-navbar .sticky-nav > li > a {
     text-decoration: none;
     text-align: center;
     display: block;
     width: 105px;
     padding: 33px 0;
     color: #FFFFFF;
 }

.sticky-navbar .sticky-nav > li > button {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 105px;
    height: 26px;
    margin: 33px 0;
    color: #FFFFFF;
    background: #489489;
    border: none;
    cursor: pointer;
}

.sticky-navbar .sticky-nav .active {
    color: #60BCAF;
}

.sticky-nav img {
    margin-top: 23px;
}

.fix-top {
    position: fixed;
    top: 0;
    z-index: 10;
}

.fix-top a {
    color: #EBEBEB;
}

/* ************* */

.navbar {
    clear: both;
    margin: 0;
    width: 100%;
    display: inline-block;
    background: #3B3C50;
}

.navbar .nav > li {
    float: left;
    line-height: 13px;
}

.navbar .nav > li > a {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 106px;
    color: #000000;
    font-weight: bold;
}

#home {
    width: 967px;
    padding-top: 20px;
}

.home-content {
    position: relative;
    height: 600px;
    padding-bottom: 5px;
}

.date {
    padding-bottom: 20px;
}

.date h2 {
    font-size: 20px;
    color: gray;
    font-weight: 200;
}

.logo {
    position: relative;
    z-index: 0;
}

.map {
    position: absolute;
    left: 0%;
    bottom: 00%;
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
    z-index: -1;
}

.mascot {
    position: absolute;
    top: -10%;
    left: 80%;
}

.text {
    width: 500px;
    background: #fff;
    padding: 5px;
    margin-top: 20px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    color: #000;
}

.text h2 {
    font-family: LibelSuitRegular, Arial, sans-serif;
    font-size: 42px;
    z-index: 1;
    position: relative;
    color: #222;
    margin-top: 50px;
}

.content h1 {
    font-family: LibelSuitRegular, Arial, sans-serif;
    font-size: 42px;
    position: relative;
    color: gray;
    margin-left: 60px;
}

h1 {
    font-family: LibelSuitRegular, Arial, sans-serif;
    font-size: 42px;
    position: relative;
    color: gray;
    margin-left: 60px;
}

#talks h1 {
    font-family: LibelSuitRegular, Arial, sans-serif;
    font-size: 42px;
    position: relative;
    color: gray;
    margin-left: 50px;
}

.button {
    margin-top: 10%;
}

.button a {
    padding: 10px;
    text-decoration: none;
    color: #FFFFFF;
    background: #3B3C50;
    font-size: 18px;
}

#tickets {
    height: 650px;
}

#tickets .container {
    background: #FFFFFF;
}

#tickets img {
    float: left;
    margin-top: 31px;
}

#tickets .side1 {
    width: 250px;
    float: left;
}

#tickets .side2 {
    float: right;
}

#talks {
}

#talks .side1 {
    width: 600px;
    float: left;
}

#talks .side1 ul {
    width: 600px;
}

#talks .side2 {
    float: right;
    width: 300px;
}

#talks .side1 img {
    float: left;
    margin-top: 23px;
}

#talks .side2 img {
    float: left;
    margin-top: 38px;
}

#talks .side2 h2 {
    color: gray;
    padding: 10px 0;
}

.talks {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.talks .title {
    width: 440px;
}

.talks li {
    border-bottom: 1px solid gray;
    padding: 25px 0;
}

.talks .author {
    margin-top: 5px;
}

.infoButton {
    text-decoration: none;
    background: #3B3C50;
    padding: 5px;
    margin-bottom: 5px;
    color: #FFFFFF;
}

.talks .proposalButton {
    float: right;
    margin-top: -41px;
    text-decoration: none;
    background: #3B3C50;
    padding: 11px;
    color: #FFFFFF;
}

.proposalContent {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}


#schedule {
    padding-top: 5px;
}

#schedule .scheduleHeader {
    background: #3B3C50;
    padding: 11px;
    color: #FFFFFF;
}

#schedule .breakRow {
    background: #6d7090;
    padding: 11px;
    color: #ffffff;
}

.side .price-list {
    padding-left: 16px;
}

.side {
    margin-left: 170px;
    margin-bottom: 70px;
}

#schedule img {
    float: left;
}

#organizers {
    height: 900px;
}

#organizers h1 {
    margin-left: 0;
    margin-top: 50px;
}

#organizers .organizer {
    height: 280px;
    margin: 0 15px;
    padding: 30px 0;
    border-bottom: 1px solid gray;
}

#organizers .info {
    margin-left: 100px;
    width: 358px;
}

#organizers .info h2 {
    margin-top: 0;
}

#organizers img {
    width: 80px;
    float: left;
}

#organizers .org-list {
    margin-top: 50px;
}

#organizers a {
    text-decoration: none;
    border-right: 1px solid gray;
    height: 20px;
    display: inline-block;
    padding-right: 10px;
    margin-right: 15px;
    color: gray;
}

#organizers .info .location {
    color: gray;
}

#organizers .info .location img {
    width: 20px;
}

#sponsors {
    height: 500px;

    clear: right;
}

#sponsors h1 {
    margin-left: 0;
}

#sponsors .logo {
    height: 300px;
    width: 300px;
    display: inline-block;
    background: white;
    z-index: 0;
    margin: 5px 15px;
}

#sponsors .row {
    width: 990px;
    margin: 0 auto;
}

#sponsors .logo .manning {
    margin-top: 45%;
    margin-left: 13%;
}

#sponsors .logo .hs {
    margin-top: 45%;
    margin-left: 5%;
    margin-right: 5%;
}

#sponsors .logo .addepar {
    margin-top: 45%;
    margin-left: 25%;
    margin-right: 5%;
}

#sponsors .logo .infoq {
    margin-top: 40%;
    margin-left: 24%;
}

#sponsors .logo .mochaleaf {
    margin-top: 32%;
    margin-left: 33%;
}

.footer {
    background: #3B3C50;
    height: 153px;
    display: block;
}

.navbar {
    background: #3B3C50;
}

.footer .nav {
    background: #3B3C50;
    width: 1050px;
}

.footer .right {
    font-size: 10px;
    margin-top: 22px;
    color: #FFFFFF;
    float: right !important;
    margin-top: 13%;
}

.footer img {
    margin-top: 60%;
}

.footer a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer a:hover {
    text-decoration: underline;
}

#venue {
    height: 700px;
    width: 100%;
}

#venue .venue {
    height: 325px;
    width: 600px;
    background: #FFFFFF;
    position: absolute;
    z-index: 2;
    left: 23%;
    margin-top: 3%;
}

#venue .venue a {
    padding: 10px;
    text-decoration: none;
    color: #FFFFFF;
    background: #3B3C50;
    font-size: 18px;
    margin-left: 25px;
}

#venue .venue p {
    padding: 0 25px;
}

#venue .venue .open-map {
    margin-top: 25px;
}

#venue .arrangements {
    width: 100%;
    height: 300px;
    background: #EBEBEB;
    position: absolute;
    margin-top: -16%;
}

#venue .arrangements-content {
    width: 976px;
    margin: 0 auto;
    margin-top: 40px;
}

#venue .arrangements .hotel {
    width: 450px;
    float: left;
}

#venue .arrangements .hotel a {
    text-decoration: none;
    color: #dd4b39;
}

#venue .arrangements .snacks a {
    text-decoration: none;
    color: #dd4b39;
}

#venue .arrangements .hotel img {
    float: left;
    margin-right: 20px;
}

#venue .arrangements .snacks img {
    float: left;
    margin-right: 20px;
}

#venue .arrangements .snacks {
    width: 450px;
    float: right;
}

#venue .venue h2 {
    font-family: LibelSuitRegular, Arial, sans-serif;
    font-size: 42px;
    position: relative;
    color: gray;
    padding-left: 25px;
}

#venue-map {
    height: 100%;
}