/* ************* */
/* GENERIC STUFF */

@font-face {
    font-family: 'LibelSuitRegular';
    src: url('/fonts/libel/libelsuit-webfont.eot');
    src: url('/fonts/libel/libelsuit-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/libel/libelsuit-webfont.woff') format('woff'), url('/fonts/libel/libelsuit-webfont.ttf') format('truetype'), url('/fonts/libel/libelsuit-webfont.svg#LibelSuitRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#mc_embed_signup{
    color: #000;
    background: #fcfcfc;
    clear:left;
    font:14px Helvetica,Arial,sans-serif;
    width:350px;
}

/* ************* */

/* ************* */
/* GENERIC STUFF */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    background: #EBEBEB;
    margin: 0;
}

.container {
    width: 976px;
    margin: 0px auto;
    margin-top: 0px;
}

#headerLinks {
    /*background: #88564d; */
    background: #b72009;
    color: #fcfcfc;
}

#headerLinks ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    float: right;
}

#headerLinks ul > li {
    float: left;
    line-height: 26px;
    width: 100px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
}

#headerLinks ul > li.active {
    background: #e5bbb3;
    line-height: 26px;
    width: 100px;
    min-width: 100px;
    border-bottom: 2px #ebdd01 solid;
    color: #b80e01;
}

#headerLinks ul > li:hover {
    color: #ffb901;
}

#headerLinks ul > li.active:hover  {
    color: #000;
}

#headerLinks a {
    color: #f0f0f0;
}

#headerLogo {
    /*background: #c07d72; */
    background: #ebdd01;
    border-bottom: 25px #b80e01 solid;
}

#headerLogo .logo {
    margin-top: 15px;
}

.contact {
    margin-bottom: 15px;
}

.date {
    float: right;
    text-align: right;
    color: #000;
    margin-top: 10px;
}

.date h2 {
    font-size: 14px;
    color: #000;
    font-weight: 600;
}

.right {
    float: right;
}

.left {
    float: left;
}

.left-column {
    width: 600px;
    float: left;
}

.right-column {
    widht: 300px;
    float: right;
}

.cityscape {
    text-align: right;
}

.cityscape img {
}

.footer {
    /*background: #6e6e6e;*/
    background: #b72009;
    height: 100px;
    display: block;
}

.footer .footerCityText {
    color: #f0f0f0;
    float: right;
    width: 260px;
    margin-top: 10px;
    margin-right: 5px;
}

.footer .logo {
    margin-top: 25px;
    height: 80px;
}

.footer a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer a:hover {
    text-decoration: underline;
}

.designedByText p {
    text-align: left;
    margin-right: 25px;
    margin-top: 0px;
}

h1 {
    font-family: LibelSuitRegular, Helvetica;
}

.fixedParnerships .box {
    background: #ffffff;
    padding: 5px;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
}

.fixedParnerships .normalBoxHeight {
    height: 350px;
    min-height: 350px;
}

.fixedParnerships ul {
    height: 200px
}

.fixedParnerships h2 {
    font-family: LibelSuitRegular, Arial, sans-serif;
    font-size: 30px;
    position: relative;
    color: gray;
    text-align: center;
}

.variableParnerships h2 {

}

.talkDescription {
    margin-left: 25px;
    margin-right: 15px;
}

.talkHeader {
    font-weight: 900;
    font-size: 16px;
    text-decoration: underline;
}

.morphOnehundredFifty {
    position: relative;
}
.morphOnehundredFifty > div {
    position: absolute;
    width: 40px;
    height: auto;
    left: 0px;
    top: 8px;
    color: #199EC6;
}
.morphOnehundredFifty > div p:hover {
    color: #A65808;
}

.talkRow {
    border: 1px solid #595959;
    background: #f4f4f4;
    margin-bottom: 10px;
    padding: 15px;
}