/* ==========================================================================
    Includes - Ground zero
   ========================================================================== */
@import url(normalize.css);
@import url(foundation.min.css);
@import url(foundation.min.css);
@import url(social_foundicons.css);
@import url(social_foundicons_ie7.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro);

/* ==========================================================================
    General
   ========================================================================== */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-10px);}
    60% {-webkit-transform: translateY(-5px);}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-5px);}
}

body {
    font-family: 'Lato', sans-serif;
}

.title {
    font-size: 16px;
    font-weight: 900;
}

.ticket-description {
    color: #787878;
    font-weight: 200;
    margin-left: 40px;
    margin-right: 40px;
}
.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}

.top-fest-intro {
    height: 70vh;
    background-image: url('/uploads/emberfest_background1.jpg');
    background-size: cover;
    text-align: center;
    padding-top: 20%;
}

.index-banner {
    background: #DE8924;
    color: #F0ECEC;
    font-weight: 900;
    line-height: 65px;
    height: 70px;
    font-size: 19px;
}

.index-banner .button {
    margin-left: 30px;
}

.we-are-back-box {
    background-color: #fff;
    opacity: 0.8;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}

.we-are-back-box h1 {
    color: #000;
    text-align: center;
    font-weight: 900;
}

.we-are-back-box h2 {
    color: #000;
    text-align: center;
}

.more-box {
    background-color: #fff;
    opacity: 0.8;
    position: absolute;
    min-width: 45px;
    top: 90vh;
    margin-left: 45%;
    padding: 10px;
}

.fest-overlay-box {
    background-color: #fff;
    opacity: 0.9;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1px;
    padding-top: 0px;
}

.fest-overlay-box h1 {
    color: #000;
    text-align: center;
    font-weight: 900;
}

.fest-overlay-box h2 {
    color: #000;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

h2 {
    color: #000;
    margin-top: 60px;
}

h3 {
    color: #000;
}

.fest-header {
    text-align: center;
}

.row {
    max-width: 1100px !important;
}

.profilePhoto {
    max-height: 200px;
    max-width: 150px;
    margin-bottom: 15px;
}

.large-text p {
    font-size: 22px;
    margin-top: 25px;
    line-height: 35px;
}

.shallow-image {
    margin-top: 100px;
    min-height: 300px;
}

.christi-dining-hall {
    background: url('/uploads/christi_dining.png');
    background-size: cover;
}

.christi-campus {
    background: url('/uploads/christi_campus.png');
    background-size: cover;
}

.pricing-table .price {
    background-color: #f6f6f6;
    padding: 0.9375rem 1.25rem;
    text-align: center;
    color: #333;
    font-weight: normal;
    font-size: 22px;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

/* ==========================================================================
    Header
   ========================================================================== */
header {
    background: rgba(0, 0, 0, 0.6);
    background-size: cover;
    min-height: 80px;
    line-height: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 0px;
}

header .logo {
    max-width: 200px;
    float: left;
    margin-top: 10px;
}

header ul {
    list-style: none;
    display: inline;
    padding-top: 28px;
}

header ul li {
    color: #fff;
    display: inline;
    font-weight: 300;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.8px;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 1s;
    transition-timing-function: ease-in-out;
}


.header-padding {
    padding-top: 40px;
}

.page-content {
    width: 1100px;
    margin: 0 auto;
}


/****
 * Menu
 ****/

.burger-hidden {
    display: none;
}

.cmn-toggle-switch {
    display: none;
    float: right;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 80px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    position: absolute;
    top: 0px;
    right: 20px;
}

.cmn-toggle-switch:focus {
    outline: none;
}

.cmn-toggle-switch span {
    display: block;
    position: absolute;
    top: 30px;
    left: 8px;
    right: 8px;
    height: 6px;
    background: white;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #fff;
    content: "";
}

.cmn-toggle-switch span::before {
    top: -27px;
}

.cmn-toggle-switch span::after {
    bottom: -27px;
}

/**
 * Style 1
 *
 * Rotating hamburger icon (rot), that simply rotates 90 degrees when activated.
 * Nothing too fancy, simple transition.
 */
.cmn-toggle-switch__rot {
    background-color: #28aadc;
}

.cmn-toggle-switch__rot span {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

/* active state, i.e. menu open */
.cmn-toggle-switch__rot.active {
    background-color: #166888;
}

.cmn-toggle-switch__rot.active span {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

header ul li.active {
    background: rgba(255, 255, 255, 0.3);
}

.partner-area {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eaecea;
}

.partner-area a {
    text-align: center;
}

.partner-area h3 {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.partner-area img {
    max-width: 300px;
}

.partner-area h1 {
    margin-bottom: 45px;
    text-align: center;
}

.partner-image {
    background-color: transparent;
}

.partner-image.active{
    background-color: rgba(255,255,255,0.35);
}

@media only screen and (max-width: 1300px) {
    .page-content {
        width: 1100px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1030px) {
    .page-content {
        width: 990px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 991px) {
    .page-content {
        width: 900px;
        margin: 0 auto;
    }

    .cmn-toggle-switch {
        display: block;
        float: right;
    }

    header ul {
        display: none;
    }
    
    header.active {
        min-height: 80px;
    }

    header.active ul {
        list-style: none;
        display: block;
        /* padding-top: 80px; */
        /* float: left; */
        position: absolute;
        top: 80px;
        left: 0px;
        right: 0px;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        margin-left: 0px;
        padding-left: 40px;
        font-size: 20px;
        z-index: 10;
        padding-top: 0px;
    }

    header.active ul li {
        display: block;
    }

    header ul li.active {
        background: rgba(255, 255, 255, 0.8);
        color: #000;
    }

    .we-are-back-box {
        margin-top: 100px;
    }

    .we-are-back-box h1 {
        font-size: 16px;
    }

    .we-are-back-box h2 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 769px) {
    .page-content {
        width: 700px;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 420px) {
    .page-content {
        width: 350px;
        margin: 0 auto;
    }

    .large-text p {
        font-size: 14px;
        margin-top: 25px;
        line-height: 25px;
    }
}

@media only screen and (max-width: 380px) {
    .page-content {
        width: 330px;
        margin: 0 auto;
    }

    .large-text p {
        font-size: 14px;
        margin-top: 25px;
        line-height: 25px;
    }
}

@media only screen and (max-width: 320px) {
    .page-content {
        width: 280px;
        margin: 0 auto;
    }

    .large-text p {
        font-size: 14px;
        margin-top: 25px;
        line-height: 25px;
    }
}

@media only screen and (min-width: 1300px) {
    .page-content {
        width: 1100px;
        margin: 0 auto;
    }
}