/* ==========================================================================
    Includes - Ground zero
   ========================================================================== */

@import url(normalize.css);
@import url(foundation.min.css);
@import url(foundation.min.css);
@import url(social_foundicons.css);
@import url(social_foundicons_ie7.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro);

/* ==========================================================================
    General
   ========================================================================== */

.row {
    max-width: 1100px !important;
}

h2 {
  color: #E54C3A;
  text-transform: uppercase;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.8em;
  margin: 1.8em 0 1.6em 0;
  text-align: center;
}

h1, h3, h4 {
  color: #222;
}

h3 {
  font-size: 1.6em;
  margin: 1.6em 0 1em 0;
}

.receiptDiv {
    padding-top: 45px;
    margin: 0 auto;
}

.registerTalkDiv {

}

.registerTalkDiv > textarea {
    height: 150px;
}

.inputTextarea {
    height: 150px;
    min-height: 150px;
}

.button {
  text-transform: uppercase;
  border-radius: 2px;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

table p.title {
  font-size: 1.1em;
  color: #444;
  font-weight: 600;
}

table tr td {
  color: #444;
}

table thead tr th {
  line-height: 2em;
  font-weight: normal;
  color: #777;
}

a.icon:hover {
  text-decoration: none !important;
}
[class*="foundicon-"] {
  font-size: 1.6em;
  color: rgba(0, 0, 0, 0.2);
  margin-right: 0.2em;
}
a.icon:hover [class*="foundicon-"] {
  color: #E54C3A;
}

.profilePhoto {
    max-height: 200px;
    max-width: 150px;
    margin-bottom: 15px;
}

/* ==========================================================================
    Header
   ========================================================================== */
header {
  background: url('/images/bg-abs.jpg') no-repeat left top;
  background-size: cover;
  min-height: 80px;
}

@media only screen and (max-width: 40em) {
  header {
    background: #5895c4;
  }
}

header .top-bar {
  background: none;
  margin-top: 10px;
}

header .top-bar .title-area img {
  max-height: 3em;
}
@media only screen and (max-width: 40em) {
  header .top-bar .title-area img {
    max-height: 2.8em;
  }
}

header .top-bar .name h1 a {
  padding-left: 0;
}

header .top-bar.expanded .title-area {
  background: none;
}

header .top-bar.expanded .toggle-topbar a {
  color: #fff;
}

header .top-bar.expanded .toggle-topbar a span {
  -webkit-box-shadow: 0 10px 0 1px #E54C3A,0 16px 0 1px #E54C3A,0 22px 0 1px #E54C3A;
  box-shadow: 0 10px 0 1px #E54C3A,0 16px 0 1px #E54C3A,0 22px 0 1px #E54C3A;
}

header .top-bar-section {
  margin-top: 10px;
}

header .top-bar ul {
  background: none;
    padding-bottom: 5px;
}

header .top-bar ul li>a {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
}

header .top-bar:not(.expanded) .main-nav li {
  margin: 0 0.4rem;
}

header .top-bar:not(.expanded) .main-nav li a:not(.button) {
  text-transform: uppercase;
}

header .top-bar li a:not(.button) {
  background: none;
  border: 2px solid transparent;
  line-height: 2.3rem;
}

header .top-bar li a:not(.button):hover {
  background: none;
  text-decoration: underline;
}

header .top-bar:not(.expanded) .main-nav li a:not(.button):hover {
  text-decoration: none;
}

header .top-bar:not(.expanded) .main-nav li a.active:not(.button) {
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 2px;
}

header .top-bar .main-nav li a.active:not(.button):hover {
  background: none;
  color: #fff;
}

header .top-bar:not(.expanded) .main-nav li a:not(.button .social):hover {
  background: #fff;
  color: #1171DF;
  border-radius: 2px;
}

header .banner {
  margin-top: 5em;
  min-height: 380px;
}

header h1 {
  font-family: 'Lato', sans-serif;
  font-size: 2.4em;
  color: #fff;
  text-transform: none;
}

header h2 {
  margin-bottom: 1.4em;
  font-size: 1.4em;
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-transform: none;
  margin-top: 0;
}

header .logo {
  max-width: 200px;
}

header .button {
  margin: 0.3em;
}

.social {
  margin-bottom: 1.4em;
    float: right;
}

.social a {
  padding: 2em 0.5em 0 0.5em;
    float: right;
}

.social img {
  max-width: 32px;
  max-height: 32px;
    float: right;
}

.social a:hover {
    background: none;
}
.social a:hover img {
  transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
}


/* ==========================================================================
    Main content
   ========================================================================== */

.main-content {
  margin-bottom: 3em;
}

.main-content a:not(.button):hover {
  text-decoration: underline;
}

article.person {
  margin-top: 3em !important;
}

article.person .bio {
  padding-left: 2.4em;
}

article.person .bio p {
  font-size: 0.9em;
}

@media only screen and (max-width: 40em) {
  article.person .bio {
    padding: 1.4em 1.2em 1.2em 1.2em;
  }
}

article.person img {
  border-radius: 100%;
  max-width: 150px;
  margin-top: 0.5em;
  max-height: 150px;
}


/* ==========================================================================
    Main content
   ========================================================================== */

.adminList {
    color: #d35400;
}

.adminList li {
    cursor: pointer;
}

.adminList li.active {
    color: #000;
    font-weight: 900;
}

/* ==========================================================================
    Page: Sponsors
   ========================================================================== */

#sponsor-packages .title {
  font-size: 1.2em;
  font-weight: 500;
  font-family: 'Maven Pro', 'sans-serif';
}

#sponsor-packages .gold li.title {
  background: #f39c12;
}

#sponsor-packages .silver li.title {
  background: #bdc3c7;
}

#sponsor-packages .bronze li.title {
  background: #d35400;
}

#sponsor-packages .iron li.title {
    background: #595959;
}

#sponsor-packages .bullet-item {
  text-align: left;
}


/* ==========================================================================
    Page: Talks
   ========================================================================== */

article.topic span.label {
  line-height: 1.4em;
  font-size: 0.9em;
}

article.topic span.author {
  font-weight: 500;
  padding-left: 0.5em;
}

.keyTextarea {
    width: 100%;
    height: 400px;
}

.greyBox {
    background: #e9eaed;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.talkPhoto {
    max-width: 130px;
    max-height: 130px;
    padding-top: 0.5em;
}

article h2 {
    padding-top: 0em;
    margin-top: 0em;
}

.talkSoMe {
    margin-bottom: 0.5em;
    text-align: center;
}

.acceptedSpeakerRow {
    min-height: 150px;
    height: 150px;
    line-height: 90px;
}

.acceptedSpeakerHalfRow {
    min-height: 75px;
    height: 75px;
    line-height: 75px;
}

/* ==========================================================================
    Sponsors
   ========================================================================== */

.silverSponsors {
    background: #faf4f1;
}

.silverSponsors-img {
    height: 47px;
    margin-right: 20px;
}

.silverSponsors h2 {
    margin: 0.8em 0 0.6em 0;

}

.sponsor-padding {
    padding-bottom: 1em;
}

.f-dropdown {
    max-width: 350px;
    width: 350px;
    min-width: 350px;
    text-align: left;
}

/* ==========================================================================
    Footer
   ========================================================================== */

footer {
  border-top: 1px solid #ddd;
  padding: 3em 0;
}

footer a {
  font-size: 0.9em;
  color: #777;
}

footer small {
  font-size: 0.75em;
}

footer small a {
  font-size: 1em;
}

@media only screen and (max-width: 40em) {
  footer div.columns {
    margin-top: 1em;
    text-align: center;
  }
}

.profileTalkTitle {
    font-size: 16px;
    font-weight: 700;
    margin-right: 10px;
}

.profileTalkLink {
    margin-right: 10px;
}

.ticketActionColumn {
    min-width: 250px;
    width: 250px;
}