body {
    color: #e8e8e8;
    background:url("/img/side_graphic.png") fixed no-repeat bottom left #000;
    font-family: "Century Gothic", sans-serif;
    letter-spacing: 0em;
    font-size: 1.2em;
    line-height: 1.26em;
    padding: 20px;
}

p { margin-top: 0.95em; }

#mainArea {
    text-align: center;
    margin-top: 45px;
}

#toolbarArea {
    text-align: right;
    font-size: 1.3em;
    background: #030039;
    border-bottom: 2px solid #8f0003;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 45px;
    vertical-align: top;
    z-index: 10;
}

#toolbarArea a {
    color: #fff;
}

#toolbarArea a:hover {
    color: #d8d8d8;
}

#headerLogo {
    margin-bottom: 25px;
    margin-top: 15px;
}

#headerLinks {
    text-align: right;
    margin-right: 50px;
}

#contentArea {
    margin-top: 25px;
    padding-left: 300px;
    text-align: left;
}

.markdownArea h1 {
    text-align: center;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 15px;
}