// Different mixins
@import 'mixin/mixin';

// Application vars
@import "custom/variables";

//Fonts New Direcotry
$roboto-font-path: "../assets/fonts/Roboto/" !default;
$font-path: "../assets/fonts/Share_Tech_Mono/" !default;
$icons-path: "../assets/fonts/MaterialIcons/" !default;

@import "custom/icons";
@import "custom/fonts";

// Core materialize style
@import 'materialize';

// Application color palette
@import "custom/color";

// Application global style
@import "custom/global";
@import "custom/nav";
@import "custom/btn";
@import "custom/slider";

@import "custom/note";
@import "custom/speakers";
@import "custom/sessions";
@import "custom/sponsors";


// Application components


// Application layout style





