---
layout: default
title: EmberFest
---
<div class="row title section">
  {% include main_header.html %}

  <div class="learn-more col-xs-10 col-xs-offset-1">
    <a href="#content-start">
      <em>Learn more about EmberFest 2017</em>
      <svg height="40" width="40">
        <polyline points="0,10 10,20 20,10" stroke="#e25641" stroke-width="2" fill="none"/>
      </svg>
    </a>
  </div>
</div>

<div class="row section" id="content-start">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <p>
        EmberFest is the <strong>European Community Ember Conference</strong>.
        If you're looking for updates on the latest and greatest in Ember and Glimmer this is the place to be.
        EmberFest is also a great opportunity to get in touch with the European Ember Community (and friends from abroad) and hiring Ember talent.
      </p><p>
        To stay up-to-date, please <a href="https://twitter.com/emberfest">follow us on Twitter</a> and
        <a href="#mc_embed_signup">subscribe to our mailing list</a>.
      </p>
    </div>
  </div>
</div>

<div class="row section alternate" id="speakers">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h4>Speakers</h4>
      <p>We are aiming to pick a lineup of speakers with diverse backgrounds and exciting talks.</p>

      <div class="row speaker-list">
        <div class="speaker col-lg-4 col-md-6">
          <h5><a href="schedule.html#jessica-jordan">Jessica Jordan</a></h5>
          <img class="speaker-image" src="images/jessica-jordan.jpg" alt="Jessica Jordan"/>
        </div>
        <div class="speaker col-lg-4 col-md-6">
          <h5><a href="schedule.html#lauren-tan-offir-golan">Lauren Tan</a></h5>
          <img class="speaker-image" src="images/lauren-tan.jpg" alt="Lauren Tan"/>
        </div>
        <div class="speaker col-lg-4 col-md-6">
          <h5><a href="schedule.html#ricardo-mendes">Ricardo Mendes</a></h5>
          <img class="speaker-image" src="images/ricardo-mendes.jpg" alt="Ricardo Mendes"/>
        </div>
        <div class="speaker col-lg-4 col-md-6">
          <h5><a href="schedule.html#edward-faulkner">Edward Faulkner</a></h5>
          <img class="speaker-image" src="images/edward-faulkner.jpeg" alt="Edward Faulkner"/>
        </div>
        <div class="speaker col-lg-4 col-md-6">
          <h5><a href="schedule.html#sarup-banskota">Sarup Banskota</a></h5>
          <img class="speaker-image" src="images/sarup-banskota.jpg" alt="Sarup Banskota"/>
        </div>
        <div class="speaker col-lg-4 col-md-6">
          <h5><a href="schedule.html#marie-chatfield">Marie Chatfield</a></h5>
          <img class="speaker-image" src="images/marie-chatfield.jpeg" alt="Marie Chatfield"/>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row section schedule">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h4>Schedule</h4>
      <h5>Day 1 (Oct 12, Thursday)</h5>
      <table align="center">
        <thead>
          <tr>
            <th width="180">TIME</th>
            <th width="400">CONTENT</th>
          </tr>
        </thead>
        <tbody>
          <tr class="first">
            <td>9:55&ndash;10:30am</td>
            <td>Ricardo Mendes</td>
          </tr>
          <tr class="first">
            <td>10:30&ndash;11:15am</td>
            <td>Jorge Lainfiesta</td>
          </tr>
          <tr class="first">
            <td>11:15&ndash;12:00pm</td>
            <td>Alex Navasardyan</td>
          </tr>
          <tr class="first">
            <td>12:00&ndash;1:30pm</td>
            <td>Lunch</td>
          </tr>
          <tr class="first">
            <td>1:30&ndash;2:00pm</td>
            <td>Michael Fritz</td>
          </tr>
          <tr class="first">
            <td>2:15&ndash;2:45pm</td>
            <td>Lauren Tan and Offir Golan</td>
          </tr>
          <tr class="first">
            <td>3:00&ndash;3:30pm</td>
            <td>Ivan Vanderbyl</td>
          </tr>
          <tr class="first">
            <td>3:30&ndash;4:00pm</td>
            <td>Snack break</td>
          </tr>
          <tr class="first">
            <td>4:00&ndash;4:30pm</td>
            <td>Adrian Zalewski</td>
          </tr>
          <tr class="first">
            <td>4:45&ndash;5:15pm</td>
            <td>Marie Chatfield</td>
          </tr>
          <tr class="first">
            <td>5:30&ndash;6:00pm</td>
            <td>Miguel Camba</td>
          </tr>
        </tbody>
      </table>

      <h5>Day 2 (Oct 13, Friday)</h5>
      <table align="center">
        <thead>
          <tr>
            <th width="180">TIME</th>
            <th width="400">CONTENT</th>
          </tr>
        </thead>
        <tbody>
          <tr class="first">
            <td>9:55&ndash;10:30am</td>
            <td>Edward Faulkner</td>
          </tr>
          <tr class="first">
            <td>10:30&ndash;11:15am</td>
            <td>Sarup Banskota</td>
          </tr>
          <tr class="first">
            <td>11:15&ndash;12:00pm</td>
            <td>Kuba Niechciał</td>
          </tr>
          <tr class="first">
            <td>12:00&ndash;1:30pm</td>
            <td>Lunch</td>
          </tr>
          <tr class="first">
            <td>1:30&ndash;2:00pm</td>
            <td>Daniel Sudol</td>
          </tr>
          <tr class="first">
            <td>2:15&ndash;2:45pm</td>
            <td>Sivakumar Kailasam</td>
          </tr>
          <tr class="first">
            <td>3:00&ndash;3:30pm</td>
            <td>Alex Blom</td>
          </tr>
          <tr class="first">
            <td>3:30&ndash;4:00pm</td>
            <td>Snack break</td>
          </tr>
          <tr class="first">
            <td>4:00&ndash;4:30pm</td>
            <td>Jessica Jordan</td>
          </tr>
          <tr class="first">
            <td>4:45&ndash;5:15pm</td>
            <td>Lightning Talks</td>
          </tr>
          <tr class="first">
            <td>5:30&ndash;6:00pm</td>
            <td>Erik Bryn</td>
          </tr>
        </tbody>
      </table>
      <h5><a href="/schedule" title="Schedule">See full programm</a></h5>
    </div>
  </div>
</div>

<div class="row section alternate location">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h4>The Venue</h4>
      <p>EmberFest 2017 will be held at <strong><a href="http://www.elisabeth.berlin">Villa Elisabeth</a> in the center of Berlin</strong>.</p>
      <p>Villa Elisabeth is a beautiful venue because of its spacious layout and historical flair. EmberFest will take place in the main event hall.</p>
    </div>
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
      <div id="map-canvas" style="position: relative; overflow: hidden;">
        <script src="//maps.google.com/maps/api/js?sensor=false&key=AIzaSyB2AF6kfYY-iLx8r1Y9hIohTj_9DdYG8uY"></script>
        <script>
          google.maps.event.addDomListener(window, 'load', function() {
            var position = new google.maps.LatLng(52.5331106, 13.3950178);
            var map      = new google.maps.Map(document.getElementById('map-canvas'), {
              zoom:             16,
              center:           position,
              mapTypeId:        google.maps.MapTypeId.ROADMAP,
              disableDefaultUI: true
            });
            var marker = new google.maps.Marker({
              map:       map,
              position:  position,
              clickable: false
            });
          });
        </script>
      </div>
      <p>
        <span class="address">
          <span>Invalidenstr. 4a · 10115 Berlin · Germany</span>
        </span>
      </p>
    </div>
  </div>
</div>

<div class="row section sponsors">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 premier-logos">
      <h4>Premier Sponsors</h4>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
          <a href="https://simplabs.com/" title="simplabs">
            <img src="images/simplabs.png" class="img-responsive"> 
          </a>
        </div>
        <div class="col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
          <a href="https://www.kloeckner-i.com/en/" title="kloeckner">
            <img src="images/kloeckner.png" class="img-responsive"> 
          </a>
        </div>
        <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
          <a href="https://cardstack.com/" title="cardstack">
            <img src="images/cardstack.svg" class="img-responsive"> 
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 supporting-logos">
      <h5>Supporting Sponsors</h5>
      <div class="row">
        <div class="col-sm-3 col-sm-offset-0 col-xs-4 col-xs-offset-2">
          <a href="https://prototypal.io/" title="prototypal">
            <img src="images/prototypal.png" class="img-responsive"> 
          </a>
        </div>
        <div class="col-sm-3 col-xs-4">
          <a href="http://tilde.io/" title="tilde">
            <img src="images/tilde.png" class="img-responsive"> 
          </a>
        </div>
        <div class="col-sm-3 col-sm-offset-0 col-xs-4 col-xs-offset-2">
          <a href="http://selleo.com" title="Selleo">
            <img src="images/selleo.png" class="img-responsive"> 
          </a>
        </div>
        <div class="col-sm-3 col-xs-4">
          <a href="http://wyeworks.com" title="Wyeworks">
            <img src="images/wyeworks.png" class="img-responsive"> 
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 col-sm-offset-3 col-xs-4 col-xs-offset-2">
          <a href="http://201-created.com" title="201 Created">
            <img src="images/201-created.png" class="img-responsive"> 
          </a>
        </div>
        <div class="col-sm-3 col-sm-offset-0 col-xs-4">
          <a href="https://www.people-doc.com" title="PeopleDoc">
            <img src="images/people-doc.png" class="img-responsive"> 
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row section mailing-list alternate">
  <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
    <h4>Subscribe to our mailing list</h4>
    {% include mailchimp.html %}
  </div>
</div>

<div class="row section bear">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <img src="/images/bear_grey.svg" class="img-responsive right-block">
    </div>
  </div>
</div>

<hr>
