<section id="slider" class="slider">
    <div class="container">
        <div class="row">
            <div class="slider-content">
                <div class="slider-header">
                    <h3>Ember Fest 2016!</h3><h4>Join us in Budapest - October 27th and 28th!</h4>
                </div>
                <div class="slider-divider"></div>
                <h5 class="slider-order-ticket">{Ticket Sale is open!}</h5>
                <div class="slider-order-actions">
                  {{link-to "GET YOUR TICKET" "tickets" class="waves-effect btn-radius btn-flat"}}
                    <a class="waves-effect btn-radius btn-flat" {{action "scrollToMailinglist"}}>JOIN THE MAILINGLIST<i class="material-icons right">add</i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <section id="note" class="note">
                <h3>Ember Fest 2016. Emberinos rejoice!</h3>
                <p>Ember Fest is coming back in 2016! Ember Fest will be a different conference with a high speaker-to-attendee ratio. Great talks, fun adventure and Ember.js to the core!</p>
            </section>
        </div>
    </div>
</div>


{{!partial "application/speakers"}}
{{!partial "application/sessions"}}
{{partial "application/newsletter"}}
