---
layout: default
title: Schedule
---
{% include main_header.html %}

<section class="schedule">
  <div class="schedule-wrapper schedule">
    <div class="container tb_padding">
      <h3>Schedule</h3>
      <div class="timetable full-timetable">
        <h5>• Day 1 •</h5>
        <h6>Sep 30, Thursday</h6>
        <div class="timezone-remark">(Times are local, CEST)</div>
        <table class="table schedule-table">
          <thead>
            <tr>
              <th class="time">Time</th>
              <th class="talk">Talk</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="schedule-table--timeslot">9:00</td>
              <td class="talk-details">
                <h6>Doors open</h6>
              </td>
            </tr>
            {% for info in site.data.schedule.day1 %}
            <tr>
              <td class="schedule-table--timeslot">{{ info.time }}</td>
              {% if info.isBreakTime %}
              <td>{{ info.text }}</td>
              {% else %}
              <td class="talk-details">
                <h6><a name="{{ info.id }}">{{ info.talk }}</a></h6>
                {{ info.description}}
                {% if info.speaker %}
                <div class="speaker-profile">
                  <h6 class="speaker">{{ info.speaker }}</h6>
                  <img src="/images/speakers/{{ info.id }}.{{ info.image_extension }}" class="speaker">
                  {{ info.bio }}
                </div>
                {% endif %}
              </td>
              {% endif %}
            </tr>
            {% endfor %}
            </tr>
          </tbody>
        </table>

        <h5 class="day2">• Day 2 •</h5>
        <h6>Oct 1, Friday</h6>
        <div class="timezone-remark">(Times are local, CEST)</div>
        <table class="table">
          <thead>
            <tr>
              <th class="time">Time</th>
              <th class="talk">Talk</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="schedule-table--timeslot">9:00</td>
              <td class="talk-details">
                <h6>Doors open</h6>
              </td>
            </tr>
            {% for info in site.data.schedule.day2 %}
            <tr>
              <td class="schedule-table--timeslot">{{ info.time }}</td>
              {% if info.isBreakTime %}
              <td>{{ info.text }}</td>
              {% else %}
              <td class="talk-details">
                <h6><a name="{{ info.id }}">{{ info.talk }}</a></h6>
                {{ info.description}}
                {% if info.speaker %}
                <div class="speaker-profile">
                  <h6 class="speaker">{{ info.speaker }}</h6>
                  <img src="/images/speakers/{{ info.id }}.{{ info.image_extension }}" class="speaker">
                  {{ info.bio }}
                </div>
                {% endif %}
              </td>
              {% endif %}
            </tr>
            {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>