---
layout: default
title: Schedule
---
<div class="row title section">
  {% include main_header.html %}

  <div class="learn-more col-xs-10 col-xs-offset-1">
    <a href="#content-start">
      <em>Learn more about EmberFest 2017</em>
      <svg height="40" width="40">
        <polyline points="0,10 10,20 20,10" stroke="#e25641" stroke-width="2" fill="none"/>
      </svg>
    </a>
  </div>
</div>

<div class="row section schedule">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      {% include schedule.html %}
    </div>
  </div>
</div>

<div class="row section alternate">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h4 id="ricardo-mendes">Opening Keynote</h4>
      <div class="speaker col-sm-4 col-xs-12 text-center">
        <img class="img-circle img-responsive" src="../images/ricardo-mendes.jpg" alt="Ricardo Mendes"/>
        <h5>Ricardo Mendes</h5>
      </div>
      <div class="col-sm-8 col-xs-12">
        <p>TBA</p>
        <hr>
        <p>TBA</p>
      </div>
    </div>
  </div>
</div>

<div class="row section">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h4 id="jorge-lainfiesta">Designing Immutable data flows in Ember</h4>
      <div class="speaker col-sm-4 col-xs-12 text-center">
        <img class="img-circle img-responsive" src="../images/jorge-lainfiesta.jpeg" alt="Ricardo Mendes"/>
        <h5>Jorge Lainfiesta</h5>
      </div>
      <div class="col-sm-8 col-xs-12">
        <p>Behind an app using immutability there's a happier team that doesn't have to deal with observers, side-effects, identity checks and instead enjoys easier object construction and testing. Adopt immutability in your ember apps today!</p>
        <hr>
        <p>Jorge is a JavaScript mentor from Latin America with speciality in Ember and React. With This Dot he helps engineering teams in America and India to embrace modern web tooling. Jorge currently studies a master in digital communication in Austria.</p>
      </div>
    </div>
  </div>
</div>

<div class="row section alternate">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h4 id="alex-navasardyan">TBA</h4>
      <div class="speaker col-sm-4 col-xs-12 text-center">
        <img class="img-circle img-responsive" src="../images/alex-navasardyan.jpg" alt="Alex Navasardyan"/>
        <h5>Alex Navasardyan</h5>
      </div>
      <div class="col-sm-8 col-xs-12">
        <p>TBA</p>
        <hr>
        <p>TBA</p>
      </div>
    </div>
  </div>
</div>

<div class="row section">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h4 id="michael-fritz">Interactive Maps with Ember.js</h4>
      <div class="speaker col-sm-4 col-xs-12 text-center">
        <img class="img-circle img-responsive" src="../images/michael-fritz.jpeg" alt="Michael Fritz"/>
        <h5>Michael Fritz</h5>
      </div>
      <div class="col-sm-8 col-xs-12">
        <p>I want to present the basics of topojson, geojson, how to convert maps formats, how to use the maps with D3. Futhermore I will present how I integrated it with emberjs components and computed properties, what interactive manipulation of the map I created to show heat maps with different metrics like pop density, average income and more.</p>
        <ul>
          <li>learn how to convert any maps into geojson</li>
          <li>how to use geojson with D3</li>
          <li>how to create interactive maps with Ember.js</li>
          <li>how to populate data onto maps</li>
          <li>the lessons learned while building such an application</li>
        </ul>
        <hr>
        <p>TBA</p>
      </div>
    </div>
  </div>
</div>

<div class="row section alternate">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h4 id="lauren-tan-offir-golan">TBA</h4>
      <div class="speaker col-sm-4 col-xs-12 text-center">
        <img class="img-circle img-responsive" src="../images/lauren-tan.jpg" alt="Lauren Tan"/>
        <img class="img-circle img-responsive" src="../images/offir-golan.jpg" alt="Offir Golan"/>
        <h5>Lauren Tan and Offir Golan</h5>
      </div>
      <div class="col-sm-8 col-xs-12">
        <p>TBA</p>
        <hr>
        <p>TBA</p>
      </div>
    </div>
  </div>
</div>

<div class="row section">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h4 id="ivan-vanderbyl">Building the Progressive Web App for HackerNews.io in Ember</h4>
      <div class="speaker col-sm-4 col-xs-12 text-center">
        <img class="img-circle img-responsive" src="../images/ivan-vanderbyl.jpeg" alt="Ivan Vanderbyl"/>
        <h5>Ivan Vanderbyl</h5>
      </div>
      <div class="col-sm-8 col-xs-12">
        <p>If you're an avid reader of HackerNews you may have seen the HNPWA, an attempt to implement a HackerNews client in every major JavaScript framework. There's only one problem: they forgot Ember. So I set out to change this.</p>
        <p>As it turns out, Ember requires a lot of optimisation to reach speed even close to React on mobile, and in this talk, I'll show you how we did it.</p>
        <hr>
        <p>Ivan is the co-founder and head of engineering at Flood, a distributed performance engineering company which builds the industry leading Load Testing platform of the same name. Ivan has over a decade of experience building web applications and has spent many years contributing to the Ember ecosystem.</p>
      </div>
    </div>
  </div>
</div>

<div class="row section alternate">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h4 id="adrian-zalewski">Promoting Ember's best practices by linting code</h4>
      <div class="speaker col-sm-4 col-xs-12 text-center">
        <img class="img-circle img-responsive" src="../images/adrian-zalewski.jpeg" alt="Adrian Zalewski"/>
        <h5>Adrian Zalewski</h5>
      </div>
      <div class="col-sm-8 col-xs-12">
        <p>Code linting is one of the least talked about, but most useful tools in a front-end developer’s toolbox. It's the easiest thing we can do to significantly improve our code quality.</p>
        <p>Default Ember.js application blueprints already include basic JavaScript linter setup. But it’s often forgotten how easy and quick it is to go much farther, and ensure extensive, Ember-flavoured static code analysis in your project. Let’s talk about state-of-art solutions that can be used today in any Ember.js project and greatly enhance your development workflow.</p>
        <hr>
        <p>Senior Front-end Developer at Netguru, who had luck to meet and fall in love with Ember.js and immense productivity that it brings. Book lover and avid traveler.</p>
      </div>
    </div>
  </div>
</div>

<div class="row section">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h4 id="marie-chatfield">Deep Dive on Ember Events</h4>
      <div class="speaker col-sm-4 col-xs-12 text-center">
        <img class="img-circle img-responsive" src="../images/marie-chatfield.jpeg" alt="Marie Chatfield"/>
        <h5>Marie Chatfield</h5>
      </div>
      <div class="col-sm-8 col-xs-12">
        <p>Handling events like clicks and keypresses as users interact with your app is essential for any Ember application. What are the different ways of listening for events in Ember? How do they interact? What are the performance implications of each approach? What kind of bugs can you introduce if you don't understand them?</p>
        <p>Learn the fundamentals of how events work in Ember, starting with the basics of DOM events and working up to the lifecycle of Ember events. You'll be able to implement event listeners with confidence and debug with clarity once you have a complete mental model of Ember events!</p>
        <hr>
        <p>Marie Chatfield writes code and poetry, sometimes at the same time. Originally from Houston, she now lives and works in San Francisco. She is passionate about creating inclusive spaces, building empathetic and elegant software, and understanding Ember at a deeper level. If you see her in the hallway, start a conversation by sharing your favorite poem or piece of art!</p>
      </div>
    </div>
  </div>
</div>

<div class="row section alternate">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h4 id="miguel-camba">Compile-time optimizations for you and me</h4>
      <div class="speaker col-sm-4 col-xs-12 text-center">
        <img class="img-circle img-responsive" src="../images/miguel-camba.png" alt="Miguel Camba"/>
        <h5>Miguel Camba</h5>
      </div>
      <div class="col-sm-8 col-xs-12">
        <p>More and more, frameworks are becoming smarter and optimizing our apps for us
like compilers do. How does it work? Where are the limits of that? Can we haz
nice thingz today?</p>
        <p>Ember's logicless templates make it the framework in best suited to perform 
static analysis and optimizations, and we are going to learn how to take advantage 
of it today and have a glance of what the future holds to automate this on 
          the framework.</p>
        <hr>
        <p>Miguel is a senior engineer at DockYard.</p>
      </div>
    </div>
  </div>
</div>

<div class="row section">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h4 id="edward-faulkner">TBA</h4>
      <div class="speaker col-sm-4 col-xs-12 text-center">
        <img class="img-circle img-responsive" src="../images/edward-faulkner.jpeg" alt="Edward Faulkner"/>
        <h5>Edward Faulkner</h5>
      </div>
      <div class="col-sm-8 col-xs-12">
        <p>TBA</p>
        <hr>
        <p>TBA</p>
      </div>
    </div>
  </div>
</div>

<div class="row section alternate">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h4 id="sarup-banskota">Adopting better Ember patterns</h4>
      <div class="speaker col-sm-4 col-xs-12 text-center">
        <img class="img-circle img-responsive" src="../images/sarup-banskota.jpg" alt="Sarup Banskota"/>
        <h5>Sarup Banskota</h5>
      </div>
      <div class="col-sm-8 col-xs-12">
        <p>After working with Canopy's codebase for over a year with my team, some patterns started to become clear. I'd like to describe them, and explain why they should be avoided and how they could be improved. They're listed on my blog with descriptions, feel free to request them and I'll share.</p>
        <hr>
        <p>Sarup leads frontend engineering for Mesitis in Singapore and contributes to Babel.</p>
      </div>
    </div>
  </div>
</div>

<div class="row section">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h4 id="jakub-niechcial">Improving the UX is the developers job</h4>
      <div class="speaker col-sm-4 col-xs-12 text-center">
        <img class="img-circle img-responsive" src="../images/jakub-niechcial.jpeg" alt="Jakub Niechciał"/>
        <h5>Jakub Niechciał</h5>
      </div>
      <div class="col-sm-8 col-xs-12">
        <p>UX and designs seems completely separate from development for a lot of engineers. However, frontend developers are often the last team that has impact on final product and that is why I believe that improving the UX is their job. Despite the fact how missing the designs or backend are, frontend should address all these issues and provide best possible quality. I will explain what are key UX topics to address by frontend (being fast, feeling native, indicate current state and handle errors) and how Ember and its ecosystem can help achieve these.</p>
        <hr>
        <p>Kuba is senior technology leader at Netguru, IT consulting agency that provides the web, mobile and design solutions for start-ups. He has over 3-year experience in Ember.js and Ruby on Rails and took part in multiple commercial projects. For last year more focused on leadership and growing his team of frontend experts at Netguru, but still trying to give back his lessons learned.</p>
      </div>
    </div>
  </div>
</div>

<div class="row section alternate">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h4 id="daniel-sudol">Writing tests like a speed demon with data builder patterns</h4>
      <div class="speaker col-sm-4 col-xs-12 text-center">
        <img class="img-circle img-responsive" src="../images/daniel-sudol.jpeg" alt="Daniel Sudol"/>
        <h5>Daniel Sudol</h5>
      </div>
      <div class="col-sm-8 col-xs-12">
        <p>The usual way that people build data for tests error prone, verbose, complicated, annoying, tedious, and not fun at all. It is one reason people don't write tests.</p>
        <p>When you use a DataBuilder pattern, all of the sudden tests flow like water like an eternal spring on cool water, with dancing fairies all around.</p>
        <hr>
        <p>TBA</p>
      </div>
    </div>
  </div>
</div>

<div class="row section">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h4 id="tba">TBA</h4>
      <div class="speaker col-sm-4 col-xs-12 text-center">
        <h5>TBA</h5>
      </div>
      <div class="col-sm-8 col-xs-12">
        <p>TBA</p>
        <hr>
        <p>TBA</p>
      </div>
    </div>
  </div>
</div>

<div class="row section alternate">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h4 id="alex-blom">Hybrid Apps with Ember/Glimmer</h4>
      <div class="speaker col-sm-4 col-xs-12 text-center">
        <img class="img-circle img-responsive" src="../images/alex-blom.png" alt="Alex Blom"/>
        <h5>Alex Blom</h5>
      </div>
      <div class="col-sm-8 col-xs-12">
        <p>For many, the first hybrid experience is one of poor performance and frustrating code management. Common techniques such as 'keep a shallow dom' and 'watch reflow' feel reasonable but hard to achieve, and even harder to contextualize in Ember.</p>
        <p>We will first cover the basics of hybrid apps before building a basic hybrid Ember app with ember-cordova, and will then focus on issues such as application structure, graceful mobile web fallbacks, animation optimization &amp; handling native integrations such as push.</p>
        <hr>
        <p>Alex is the maintainer of corber/ember-cordova and Managing Partner at Isle of Code.</p>
      </div>
    </div>
  </div>
</div>

<div class="row section">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h4 id="jessica-jordan">Testing against Time - Meaningful testing in Ember apps when timing matters</h4>
      <div class="speaker col-sm-4 col-xs-12 text-center">
        <img class="img-circle img-responsive" src="../images/jessica-jordan.jpg" alt="Jessica Jordan"/>
        <h5>Jessica Jordan</h5>
      </div>
      <div class="col-sm-8 col-xs-12">
        <p>Ember offers a rich API and a wide set of helpers and blueprints to make testing in your apps fast and straight-forward. But as the applications we write tests against grow more complex, we might find ourselves stumbling into test timeouts, eventually succeeding tests and other hard-to-reason about test errors brought on by asynchronous and time-dependent behaviour.</p>
        <p>This talk will give an insight into how to create meaningful test cases for async or other, time-related operations in our applications.  We will see how we can leverage Ember's test helpers, newest JavaScript features and Ember community addons to reduce non-determinism in our test suites and make those tests turn green even as time passes by.</p>
        <hr>
        <p>Jessica is a Berlin-based software engineer working at simplabs and is co-organizing the Ember.js Berlin meetup. She is creating newsletters for the Ember.js Times and is a big fan of CSS, art and comics.</p>
      </div>
    </div>
  </div>
</div>
  
<div class="row section alternate">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <h4 id="erik-bryn">Closing Keynote</h4>
      <div class="speaker col-sm-4 col-xs-12 text-center">
        <img class="img-circle img-responsive" src="../images/erik-bryn.jpg" alt="Erik Bryn"/>
        <h5>Erik Bryn</h5>
      </div>
      <div class="col-sm-8 col-xs-12">
        <p>TBA</p>
        <hr>
        <p>TBA</p>
      </div>
    </div>
  </div>
</div>
