<section class="venue">
  <h3>Conference Venue</h3>
  <div class="content">
    <img src="/2023/images/venue.jpg" alt="photo of the conference venue: empty hall with glass windows/doors on one side">
    <div class="text-and-link">
      <p>This year’s EmberFest will take place in Próxima Estación, next to Puerta de San Vicente. The Casa de Campo park, Madrid's largest public park is nearby as well. The venue is located at Calle Aniceto Marinas 10. It has a spacious main floor, as well as a terrace on the street.</p>
      <a href="https://goo.gl/maps/RA6V9fgsMFWxZe466" class="button" target="blank">Check on map</a>
    </div>
  </div>
</section>
