<section class="about-and-video">
  <div class="container about">
    <div class="info">
      <h3>About Ember &#123;&#123;fest&#125;&#125;</h3>
      <div class="text-and-button">
        <p>
          EmberFest is the European Community Ember Conference. If you’re
          looking for updates on the latest and greatest in Ember and Glimmer
          this is the place to be. EmberFest is also a great opportunity to get
          in touch with the European Ember Community (and friends from abroad)
          and hiring Ember talent.
        </p>
        <a class="button get-involved" alt="get involved!" href="#stay-up-to-date">Get involved!</a>
      </div>
    </div>
  </div>
</section>
