<footer>
  <div class="glass-separator">
    <div class="arrow-group left">
      <hr>
      <img class="arrow" src="/images/horizontal-arrow.svg">
    </div>
    <img class="glasses" src="/images/glasses-small.webp">
    <div class="arrow-group right">
      <img class="arrow" src="/images/horizontal-arrow.svg">
      <hr>
    </div>
  </div>
  <nav class="links">
    <p>&copy; 2023 EmberFest UG</p>
    <nav>
      <ul class="past-events">
        <li>
          <a href="/2017">2017</a>
        </li>
        <li>
          <a href="/2018">2018</a>
        </li>
        <li>
          <a href="/2019">2019</a>
        </li>
        <li>
          <a href="/2020">2020</a>
        </li>
        <li>
          <a href="/2021">2021</a>
        </li>
        <li>
          <a href="/2022">2022</a>
        </li>
        <li>
          <a href="/">2023</a>
        </li>
      </ul>
    </nav>
    <p>
      Thanks to
      <a class="tito-link" href="https://ti.to">Tito</a>
      for the support
    </p>
  </nav>
  <hr>
  <nav class="sections">
    <ul>
      <li><a href="/code-of-conduct">Code of Conduct</a></li>
      <li><a href="/cancellation">Cancellation</a></li>
      <li><a href="/imprint">Imprint</a></li>
    </ul>
  </nav>
</footer>