<footer class=" footer">
  <div class="container">
    <div class="footer__wrapper--top">
      <img class="icon" src="/images/glasses.svg" alt="icon">
      <p class="footer__copyright">&copy; 2017 - 2021 EmberFest</p>
    </div>
    <div class="footer__wrapper--bottom">
      <div class="footer__pastEvents">
        <a class="footer__links" href="/2017">2017</a> • <a class="footer__links" href="/2018">2018</a> • <a class="footer__links" href="/2019">2019</a> • <a class="footer__links" href="/2020">2020</a>
      </div>
      <div class="footer__thanks">
        <p>Thanks to <a class="footer__links" href="https://ti.to">Tito</a> for supporting EmberFest <br/>Graphics from the Noun Project and Freevector</p>
      </div>
    <div class="footer__bottomNav">
      <a class="footer__links" href="https://cfp.emberfest.eu/events/emberfest-2021">CFP</a> • <a class="footer__links" href="/sponsorship.pdf" download>Sponsorship</a> • <a class="footer__links" href="/code-of-conduct">Code of Conduct</a> • <a class="footer__links" href="/cancellation">Cancellation</a> • <a class="footer__links" href="/privacy">Privacy</a> • <a class="footer__links" href="/imprint">Imprint</a>
    </div>
  </div>
</footer> <!-- footer -->
