<section class="hero">
  <div class="content">
    <p class="date-and-location">
      {{ site.data.event.date }} / Location {{ site.data.event.location }}
    </p>
    <div class="logos-container">
      <img src="/images/logo_vertical.svg" alt="EmberFest logo" />
      <img src="/images/glasses-big.webp" alt="red glasses" />
    </div>
    <div class="button book-tickets">
      <a alt="book your ticket" href="#">Book your Ticket</a>
    </div>
  </div>
</section>

<section class="about-and-video">
  <div class="container about">
    <div class="info">
      <h3>About Ember &#123;&#123;fest&#125;&#125;</h3>
      <p>
        EmberFest is the European Community Ember Conference. If you’re looking
        for updates on the latest and greatest in Ember and Glimmer this is the
        place to be. EmberFest is also a great opportunity to get in touch with
        the European Ember Community (and friends from abroad) and hiring Ember
        talent.
      </p>
      <div class="button get-involved">
        <a alt="get involved!" href="#">Get involved!</a>
      </div>
    </div>
  </div>

  <div class="container video-2022">
    <h4>Ember &#123;&#123;fest&#125;&#125; 2022</h4>
    <iframe
      src="https://www.youtube.com/embed/irL80bQ8dHE"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p>
      While we're getting ready for EmberFest 2023 in Madrid, check out the
      atmosphere and some statements from EmberFest 2022 in Paris.
    </p>
  </div>
</section>
