<section class="hero">
  <div class="content">
    <p class="date-and-location">
      {{ site.data.event.date }} / Location {{ site.data.event.location }}
    </p>
    <div class="logos-container">
      <img src="/images/logo_vertical.svg" alt="EmberFest logo" />
      <img src="/images/glasses-big.webp" alt="red glasses" />
    </div>
    <div class="button book-tickets">
      <tito-button class="neon book-ticket" event="emberfest/emberfest-2023">Book
        Your Ticket</tito-button>
    </div>
  </div>
</section>
