<div class="hero hero__landing-page hero__index-page">
  <div class="container">
    <h3 class="hero__pre-title"> Europe’s Community Ember Conference</h3>
  <div class="hero__title">
    <a href="/">Ember<span class="hero__brackets">{% raw %}{{</span>fest<span class="hero__brackets">}}{% endraw %}</span></a>
  </div>
  <h3 class="hero__date">Sept. 30 – Oct. 1, 2021 || Rome, Italy</h3>
  <tito-button event="emberfest/emberfest-2021" class="primary_btn">Get your tickets</tito-button>
  </div>
</div>