<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
      <a href="/">
        <img src="/images/logo.png" alt="EmberFest Logo" class="img-responsive center-block" width="300" height="50">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h1>The European <br> Community <br> Ember Conference <br> Berlin, October 12+13</h1>
      <tito-button event="emberfest/emberfest-2017">Get your tickets now!</tito-button>
    </div>
  </div>
</div>