<section class="past-sponsors">
  <div class="content-wide">
    <h3 class="divider">Thank you to our past sponsors!</h3>
    <div class="row">
      <a href="https://simplabs.com">
        <img src="/images/sponsors/simplabs.svg" />
      </a>

      <a href="https://www.getharvest.com">
        <img src="/images/sponsors/harvest.svg" />
      </a>

      <a href="http://honeypot.io">
        <img src="/images/sponsors/honeypot.svg" />
      </a>
    </div>

    <div class="row">
      <a href="https://www.clark.de">
        <img src="/images/sponsors/clark.svg" />
      </a>

      <a href="https://www.triptyk.eu">
        <img src="/images/sponsors/triptyk.svg" />
      </a>

      <a href="https://www.crowdstrike.com">
        <img src="/images/sponsors/crowdstrike.svg" />
      </a>

      <a href="https://www.kloeckner-i.com">
        <img src="/images/sponsors/kloeckner-i.svg" />
      </a>
    </div>

    <div class="row">
      <a href="https://redpencil.io">
        <img src="/images/sponsors/redpencil-io.svg" />
      </a>

      <a href="https://www.people-doc.com">
        <img src="/images/sponsors/peopledoc.svg" />
      </a>

      <a href="http://addepar.com">
        <img src="/images/sponsors/addepar.svg" />
      </a>
    </div>

    <div class="row">
      <a href="https://www.precisionnutrition.com">
        <img src="/images/sponsors/precision-nutrition.svg" />
      </a>

      <a href="http://cardstack.com">
        <img src="/images/sponsors/cardstack.svg" />
      </a>

      <a href="http://prototypal.io">
        <img src="/images/sponsors/prototypal.svg" />
      </a>

      <a href="https://www.tilde.io">
        <img src="/images/sponsors/tilde.svg" />
      </a>
    </div>

    <div class="row">
      <a href="http://selleo.com">
        <img src="/images/sponsors/selleo.svg" />
      </a>

      <a href="http://wyeworks.com">
        <img src="/images/sponsors/wyeworks.svg" />
      </a>

      <a href="https://www.linkfire.com">
        <img src="/images/sponsors/linkfire.svg" />
      </a>
    </div>

    <div class="row">
      <a href="http://linkedin.com">
        <img src="/images/sponsors/linkedin.png" />
      </a>

      <a href="http://phorest.com">
        <img src="/images/sponsors/phorest.svg" />
      </a>

      <a href="https://embermap.com">
        <img src="/images/sponsors/embermap.svg" />
      </a>

      <a href="http://stickermule.com">
        <img src="/images/sponsors/stickermule.svg" />
      </a>
    </div>

    <div class="row">
      <a href="https://www.ember-checkup.com">
        <img src="/images/sponsors/ember-checkup.svg" />
      </a>

      <a href="https://www.intercom.com">
        <img src="/images/sponsors/intercom.svg" />
      </a>

      <a href="https://qonto.com">
        <img src="/images/sponsors/qonto.svg" />
      </a>

      <a href="https://redpencil.io/">
        <img src="/images/sponsors/redpencil-io.svg" />
      </a>
    </div>

    <div class="row">
      <a href="https://www.hashicorp.com">
        <img src="/images/sponsors/hashicorp.svg" />
      </a>

      <a href="https://shipshape.io">
        <img src="/images/sponsors/shipshape.svg" />
      </a>

      <a href="https://zapnito.com">
        <img src="/images/sponsors/zapnito.svg" />
      </a>
    </div>
  </div>
</section>
