<h5>Day 1 (Oct 11, Thursday)</h5>
<table class="table schedule-table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Talk</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="schedule-table--timeslot">10:00&ndash;10:30</td>
      <td>Opening Keynote by Tom Dale</td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">10:45&ndash;11:15</td>
      <td><a href="/schedule/#scott-newcomer">Principles from leaders across the Ember community by Scott Newcomer</a></td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">11:30&ndash;12:00</td>
      <td><a href="/schedule/#kevin-pfefferle">From the Browser to the Home Screen: PWAing Your Ember App by Kevin Pfefferle</a></td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">12:00&ndash;13:30</td>
      <td>Lunch</td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">13:30&ndash;14:00</td>
      <td><a href="/schedule/#tobias-bieniek">ELS - the Ember Language Server by Tobias Bieniek</a></td>
    </tr>

    <tr>
      <td class="schedule-table--timeslot">14:15&ndash;14:45</td>
      <td><a href="/schedule/#jonathan-jackson">Transformers: Codemods in Disguise by Jonathan Jackson</a></td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">15:00&ndash;15:30</td>
      <td><a href="/schedule/#matic-jurglič">Routing with Style and Grace by Matic Jurglič</a></td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">15:30&ndash;16:00</td>
      <td>Snack break</td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">16:00&ndash;16:30</td>
      <td><a href="/schedule/#jessica-jordan">Crafting Web Comics with Ember by Jessica Jordan</a></td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">16:45&ndash;17:15</td>
      <td><a href="/schedule/#michael-lange">Going Realtime with Ember by Michael Lange</a></td>
    </tr>
  </tbody>
</table>

<h5>Day 2 (Oct 12, Friday)</h5>
<table class="table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Talk</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="schedule-table--timeslot">10:00&ndash;10:30</td>
      <td><a href="/schedule/#simon-ihmig">Honey, I shrunk your Ember app by Simon Ihmig</td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">10:45&ndash;11:15</td>
      <td><a href="/schedule/#marco-otte-witte">Deliver fast apps even faster by Marco Otte-Witte</td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">11:30&ndash;12:00</td>
      <td><a href="/schedule/#danielle-adams">Mastering the Art of Forms by Danielle Adams</a></td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">12:00&ndash;13:30</td>
      <td>Lunch</td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">13:30&ndash;14:00</td>
      <td><a href="/schedule/#rocky-neurock">No Graph Theory Required: Ember and GraphQL in Practice by Rocky Neurock and Chad Carbert</a></td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">14:15&ndash;14:45</td>
      <td><a href="/schedule/#francesco-novy">Bringing coffee tasting to rural areas with Ember & Cordova by Francesco Novy</a></td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">15:00&ndash;15:30</td>
      <td><a href="/schedule/#kenneth-larsen">The State of Community Documentation by Kenneth Larsen</a></td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">15:30&ndash;16:00</td>
      <td>Snack break</td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">16:00&ndash;16:30</td>
      <td><a href="/schedule/#chad-hietala">The Future Of Templating In Ember by Chad Hietala</a></td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">16:45&ndash;17:15</td>
      <td>Closing keynote by Melanie Sumner</td>
    </tr>
  </tbody>
</table>
