<h5>Pre-Conference (Oct 16, Wednesday)</h5>
<table class="table schedule-table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Activity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="schedule-table--timeslot">15:00&ndash;17:30</td>
      <td>City Walking Tours: Food / Architecture
      </td>
    </tr>
  </tbody>
</table>





<h5>Day 1 (Oct 17, Thursday)</h5>
<table class="table schedule-table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Talk</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="schedule-table--timeslot">10:00&ndash;10:30</td>
      <td>Opening Keynote by Godfrey Chan
        <a href="https://www.youtube.com/watch?v=zXbqv2PeYCM&list=PLN4SpDLOSVkT0e094BZhGkUnf2WBF09xx&index=1">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">10:45&ndash;11:15</td>
      <td><a href="/2019/schedule/#chad-carbert">The Future of Responsive Component Design by Chad Carbert</a>
        <a href="https://www.youtube.com/watch?v=RIdjk9_RSBY&list=PLN4SpDLOSVkT0e094BZhGkUnf2WBF09xx&index=2">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="/schedule-table--timeslot">11:30&ndash;12:00</td>
      <td><a href="/2019/schedule/#sama-rao">Why Pairing is Paramount by Sama Rao</a>
        <a href="https://www.youtube.com/watch?v=XH2ckyKv_Ho&list=PLN4SpDLOSVkT0e094BZhGkUnf2WBF09xx&index=3">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">12:00&ndash;13:30</td>
      <td>Lunch</td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">13:30&ndash;14:00</td>
      <td><a href="/2019/schedule/#chris-manson">JAM Stack for Human Beings by Chris Manson</a>
        <a href="https://www.youtube.com/watch?v=eQULGb10MbQ&list=PLN4SpDLOSVkT0e094BZhGkUnf2WBF09xx&index=4">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>

    <tr>
      <td class="schedule-table--timeslot">14:15&ndash;14:45</td>
      <td><a href="/2019/schedule/#jessica-jordan">Steady State with Ember Octane by Jessica Jordan</a>
        <a href="https://www.youtube.com/watch?v=tpjIwmg8meY&list=PLN4SpDLOSVkT0e094BZhGkUnf2WBF09xx&index=5">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">15:00&ndash;15:30</td>
      <td><a href="/2019/schedule/#adrian">Introducing TypeScript into a production Ember.js app by Adrian Zalewski</a>
        <a href="https://www.youtube.com/watch?v=eBLSPgv-9F0&list=PLN4SpDLOSVkT0e094BZhGkUnf2WBF09xx&index=6">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">15:30&ndash;16:00</td>
      <td>Snack break</td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">16:00&ndash;16:30</td>
      <td><a href="/2019/schedule/#chantal-broeren">Make the Most of Your Problem by Chantal Broeren</a>
        <a href="https://www.youtube.com/watch?v=xIWFn05oLe8&list=PLN4SpDLOSVkT0e094BZhGkUnf2WBF09xx&index=7">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">16:45&ndash;17:15</td>
      <td><a href="/2019/schedule/#miguel-camba">Ember in orbit. Building apps for outer space connectivity by Miguel Camba</a>
        <a href="https://www.youtube.com/watch?v=b7-VegI-WX8&list=PLN4SpDLOSVkT0e094BZhGkUnf2WBF09xx&index=8">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
  </tbody>
</table>

<h5>Day 2 (Oct 18, Friday)</h5>
<table class="table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Talk</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="schedule-table--timeslot">10:00&ndash;10:30</td>
      <td><a href="/2019/schedule/#edward-faulkner">Compiling Ember by Edward Faulkner</a>
        <a href="https://www.youtube.com/watch?v=StFbdKBC94o&list=PLN4SpDLOSVkT0e094BZhGkUnf2WBF09xx&index=9">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">10:45&ndash;11:15</td>
      <td><a href="/2019/schedule/#sergio-arbeo">FastFlood: a story of a massive memory leak in FastBoot land by Sergio Arbeo</a>
        <a href="https://www.youtube.com/watch?v=VtPiornCZwA&list=PLN4SpDLOSVkT0e094BZhGkUnf2WBF09xx&index=10">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">11:30&ndash;12:00</td>
      <td><a href="/2019/schedule/#melanie-sumner">The Phenomenon of the Unlucky Choice by Melanie Sumner</a>
        <a href="https://www.youtube.com/watch?v=s1wcQ89JDvc&list=PLN4SpDLOSVkT0e094BZhGkUnf2WBF09xx&index=11">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">12:00&ndash;13:30</td>
      <td>Lunch</td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">13:30&ndash;14:00</td>
      <td>Lightning Talks
        <a href="      https://www.youtube.com/watch?v=0ML4u6DBzWo&list=PLN4SpDLOSVkT0e094BZhGkUnf2WBF09xx&index=12">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">14:15&ndash;14:45</td>
      <td><a href="/2019/schedule/#jon-kilroy">Building Ember Apps with Duplos® by Jon Kilroy</a>
        <a href="https://www.youtube.com/watch?v=7K4Gkr_w58w&list=PLN4SpDLOSVkT0e094BZhGkUnf2WBF09xx&index=20">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">15:00&ndash;15:30</td>
      <td><a href="/2019/schedule/#isaac-lee">Write Tests Like a Mathematician by Isaac Lee</a>
        <a href="https://www.youtube.com/watch?v=uTjSHpJWQAY&list=PLN4SpDLOSVkT0e094BZhGkUnf2WBF09xx&index=19">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">15:30&ndash;16:00</td>
      <td>Snack break</td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">16:00&ndash;16:30</td>
      <td><a href="/2019/schedule/#claudia-hinkle">Replaying Real Time Live Video Events with Ember by Claudia Hinkle</a>
        <a href="https://www.youtube.com/watch?v=lpljvcBUye0&list=PLN4SpDLOSVkT0e094BZhGkUnf2WBF09xx&index=21">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">16:45&ndash;17:15</td></td>
      <td><a href="/2019/schedule/#chris-thoburn">Ember Data 2019 by Chris Thoburn</a>
        <a href="https://www.youtube.com/watch?v=zbqbsOyLM30&list=PLN4SpDLOSVkT0e094BZhGkUnf2WBF09xx&index=22">
          <i class="fa fa-youtube-play"></i></a>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">19:00&ndash;23:30</td></td>
      <td>
        Closing Dinner at
        <a href="https://www.google.co.uk/maps/place/DGI-byens+Restaurant/@55.6688368,12.5611154,17z/data=!4m12!1m6!3m5!1s0x46525372f44ed79f:0x4d8d852bc5f341f!2sDGI-byens+Restaurant!8m2!3d55.6688338!4d12.5633041!3m4!1s0x46525372f44ed79f:0x4d8d852bc5f341f!8m2!3d55.6688338!4d12.5633041">
          Vestauranten
        </a>
       </td>
    </tr>
  </tbody>
</table>
