<h5>Day 1 (Oct 12, Thursday)</h5>
<table class="table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Talk</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>9:55&ndash;10:30</td>
      <td>Ricardo Mendes</td>
    </tr>
    <tr>
      <td>10:30&ndash;11:15</td>
      <td>Jorge Lainfiesta</td>
    </tr>
    <tr>
      <td>11:15&ndash;12:0</td>
      <td>Alex Navasardyan</td>
    </tr>
    <tr>
      <td>12:00&ndash;13:30</td>
      <td>Lunch</td>
    </tr>
    <tr>
      <td>13:30&ndash;14:00</td>
      <td>Michael Fritz</td>
    </tr>
    <tr>
      <td>14:15&ndash;14:45</td>
      <td>Lauren Tan and Offir Golan</td>
    </tr>
    <tr>
      <td>15:00&ndash;15:30</td>
      <td>Ivan Vanderbyl</td>
    </tr>
    <tr>
      <td>15:30&ndash;16:00</td>
      <td>Snack break</td>
    </tr>
    <tr>
      <td>16:00&ndash;16:30</td>
      <td>Adrian Zalewski</td>
    </tr>
    <tr>
      <td>16:45&ndash;17:15</td>
      <td>Marie Chatfield</td>
    </tr>
    <tr>
      <td>17:30&ndash;18:00</td>
      <td>Miguel Camba</td>
    </tr>
  </tbody>
</table>

<h5>Day 2 (Oct 13, Friday)</h5>
<table class="table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Talk</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>9:55&ndash;10:30</td>
      <td>Edward Faulkner</td>
    </tr>
    <tr>
      <td>10:30&ndash;11:15</td>
      <td>Sarup Banskota</td>
    </tr>
    <tr>
      <td>11:15&ndash;12:00</td>
      <td>Kuba Niechciał</td>
    </tr>
    <tr>
      <td>12:00&ndash;13:30</td>
      <td>Lunch</td>
    </tr>
    <tr>
      <td>13:30&ndash;14:00</td>
      <td>Daniel Sudol</td>
    </tr>
    <tr>
      <td>14:15&ndash;14:45</td>
      <td>TBA</td>
    </tr>
    <tr>
      <td>15:00&ndash;15:30</td>
      <td>Alex Blom</td>
    </tr>
    <tr>
      <td>15:30&ndash;16:00</td>
      <td>Snack break</td>
    </tr>
    <tr>
      <td>16:00&ndash;16:30</td>
      <td>Jessica Jordan</td>
    </tr>
    <tr>
      <td>16:45&ndash;17:15</td>
      <td>Lightning Talks</td>
    </tr>
    <tr>
      <td>17:30&ndash;18:00</td>
      <td>Erik Bryn</td>
    </tr>
  </tbody>
</table>