<div class="sidepages__header">
    <img
      class="logo_vertical"
      src="/images/logo_vertical.svg"
      alt="emberfest logo"
    />

    <img
      class="header__image"
      src="/images/glasses-small.webp"
      alt="sunglasses"
    />

    <div class="logo_and_date">
      <img
        class="logo_horizontal"
        src="/images/logo_horizontal.svg"
        alt="emberfest logo"
      />
      <div class="date_and_location">
        <h2 class="date">{{ site.data.event.date }}</h2>
        <h2 class="location">Location {{ site.location }}</h2>
      </div>
    </div>
  </div>