<div class="sidepages__header">
  <picture>
    <source media="(max-width: 1100px)" srcset="/images/logo_horizontal.svg" />
    <source media="(min-width: 1101px)" srcset="/images/logo_vertical.svg" />
    <img class="logo" src="/images/logo_horizontal.svg" alt="emberfest logo" />
  </picture>

  <img
    class="header__image"
    src="/images/glasses-small.webp"
    alt="sunglasses"
  />

  <div class="date_and_location">
    <h2 class="date">{{ site.data.event.date }}</h2>
    <h2 class="location">Location {{ site.location }}</h2>
  </div>
</div>
