<div class="container">
	<div class="row">		
		<div class="col s12 m10 offset-m1">
			<h4 class="center-align">Featuring talks</h4>
			{{#material-design/md-scroll-fire id="speakers"}}		
				<div  class="row">
					<!--Single Speaker -->
					<li class="col s6 m3 speaker">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/speakers/speakers-1.jpg" />
							<h6>Jon Doing</h6>
						</a>
					<!--Single Speaker :END -->
					</li>
					<li class="col s6 m3 speaker">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/speakers/speakers-2.jpg" />
							<h6>Jon Doing</h6>
						</a>
					</li>
					<li class="col s6 m3 speaker">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/speakers/speakers-3.jpg" />
							<h6>Jon Doing</h6>
						</a>
					</li>
					<li class="col s6 m3 speaker">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/speakers/speakers-4.jpg" />
							<h6>Jon Doing</h6>
						</a>
					</li>
					<li class="col s6 m3 speaker">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/speakers/speakers-5.jpg" />
							<h6>Jon Doing</h6>
						</a>
					</li>
					<li class="col s6 m3 speaker">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/speakers/speakers-6.jpg" />
							<h6>Jon Doing</h6>
						</a>
					</li>
					<li class="col s6 m3 speaker">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/speakers/speakers-7.jpg" />
							<h6>Jon Doing</h6>
						</a>
					</li>
					<li class="col s6 m3 speaker">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/speakers/speakers-8.jpg" />
							<h6>Jon Doing</h6>
						</a>
					</li>						
				</div>
			{{/material-design/md-scroll-fire}}
			<div class="center-align">
				<a class="btn-flat waves-effect waves-light btn-radius btn-speakers">see all speakers</a>
			</div>				
		</div>
	</div>
</div>