.btn-flat {
  background: $button-color;
	&:hover{
		color: $app-color-primary-inverse;
		background: darken($app-color-primary-active, 10%);
	}
}

.btn-blend {
  background: $silver-color;
  &:hover{
    color: $silver-color;
    background: darken($silver-color, 10%);
  }
}

.btn-white {
  background: $white-color;
  &:hover{
    color: $white-color;
    background: darken($white-color, 10%);
  }
  &:active {
    background: darken($white-color, 10%);
  }
}

.btn-fill {
  min-width: 100%;
}

.btn-radius{
	border-radius: 20px;
}
.btn-subscribe{
	margin-top: 20px;
}
