@mixin font-face($font-family, $file-prefix) {
    @font-face {
        font-family: '#{$font-family}';
        src: url('#{$font-path}#{$file-prefix}.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

@include font-face('Share Tech Mono', 'ShareTechMono-Regular');