nav {
	background-color: $app-body-background;
	@extend .z-depth-0;

	// Navbar Links
	ul {
	  	li {
	  		transition: background-color .3s;
	  		float: left;
	  		padding: 0 10px;
	  		&.active {
	  			background-color: transparent;

				a{
					position: relative;
					color: $app-color-primary-active;
		  			&:after,&:before{
		  				position: absolute;
		  				top: 0;
		  			}
		  			&:after{content: ' }}'; right: -5px;}
		  			&:before{content: '{{ '; left: -5px;}
				}
	  		}
	  		a{
	  			background-color: transparent;
	  			text-transform: uppercase;
	  			font-size: 18px;
	  			display: inline-block;
	  			&:hover{
	  				background-color: transparent;
	  				color: $app-color-primary-active;
	  			}
	  		}
        a.active {
          text-decoration: underline;
          color: $app-color-primary-active;
        }
	  	}
  	}
  	.side-nav{
  		li{
			a{
				display: inline;
			    height: auto;
			    line-height: 1;
			}
  		}
  	}
}

#sidenav-overlay{
	background-color: rgba(0, 0, 0, 0.8);
}
