//GRID

$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 993px !default;

$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 992px !default;

// Application vars

$app-body-background: #fff;
$app-color-primary: #000 !default;
$app-color-primary-inverse: #fff;
$app-color-primary-active: #e34c32;

$app-color-gray: #bdbec0;

$app-font-family: 'Share Tech Mono', sans-serif;

$app-color-secondary: lighten($app-color-primary, 10%) !default;
$app-color-primary-light: lighten($app-color-primary, 20%) !default;
$app-color-primary-lighten: lighten($app-color-primary, 70%) !default;
$app-color-primary-dark: darken($app-color-primary, 20%);
$app-color-primary-darken: darken($app-color-primary, 40%);

$app-border-radius: 0;
$app-border-color: #e2bcff;
$app-border: 1px solid $app-border-color;

// Materialize color vars

$green-color: #00b87b;
$orange-color: #ff5654;
$black-color: #000;


$gold-color: #f0d30c;
$silver-color: #b2b2b2;
$bronz-color: #bd967f;


//App Colors
$primary-color: $app-color-primary !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: $app-color-secondary !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;

$link-color: $app-color-primary !default;
$link-color-hover : $app-color-primary-active !default;

//Button 
$button-color: $app-color-primary-active; 
$button-color-flat: $app-color-primary-inverse; 

//Form
$search-input-color: $secondary-color;
$search-input-color-focust: $primary-color-dark;
$input-border-color: $primary-color-dark;
$input-success-color: $primary-color;
$input-focus-color: $primary-color-light;


//Navigation 

$navbar-height: 96px !default;
$navbar-height-mobile: 96px !default;

$navbar-font-color: $app-color-primary !default;

//Navigation Sidebar
$sidenav-bg-color: $app-body-background;
$sidenav-text-color: #f3f3f3;



$footer-bg-color: $app-color-primary-lighten !default;
$footer-color: $app-color-primary !default;