<div class="container">
	<div class="row">
		<section id="sessions">
			{{#material-design/md-tabs class='sessions'}}
				<li class="tab col s4">
					<a href="#activity-show-all" class="active" {{action 'tabSelected' 'all' on='click'}}>
						<h5>Pre-Conf</h5>
						<h5>19 October</h5>
					</a>
				</li>
				
				<li class="tab col s4">
					<a href="#activity-show-bookmarks" {{action 'tabSelected' 'bookmark' on='click'}}>
						<h5>Day 1</h5>
						<h5>20 October</h5>
					</a>
				</li>
				<li class="tab col s4">
					<a href="#activity-show-snapshots" {{action 'tabSelected' 'image' on='click'}}>
						<h5>Day 2</h5>
						<h5>21 October</h5>
					</a>
				</li>
			{{/material-design/md-tabs}}
			<div id="activity-show-all">
				<div class="session-content">

					<div class="title">
						<div class="col s12 m9 offset-m3">
							<h3>Pre-Conf Workshop</h3>
						</div>
						<div class='clearfix'></div>
					</div>

					<div class="session-item">
						<div class="col m3">
							<h6 class="time right-align hide-on-small-only">9:00 - 9:30</h6>
							<h6 class="time left-align hide-on-large-only hide-on-med-only">9:00 - 9:30</h6>
						</div>
						<div class=" col m6">
							<a href="#"><h5 class="break">REGISTRATION</h5></a>						
						</div>	
						<div class='clearfix'></div>				
					</div>

					<div class="session-item">
						<div class="col s12 m3">
							<h6 class="time right-align hide-on-small-only">9:00 - 9:30</h6>
							<h6 class="time left-align hide-on-large-only hide-on-med-only">9:00 - 9:30</h6>
						</div>
						<div class="col s12 m6">
							<a href="#"><h5>Ember Fanky x making things happen go go alle alle</h5></a>
							<p>Rocky Martin, Lorem van Ipsum</p>
						</div>					
						<div class="col s12 m3">
							<a href="#" class="center-align">
								<img class="responsive-img speakers-small-img" src="assets/images/speakers/speakers-small-8.jpg" />
								<img class="responsive-img speakers-small-img" src="assets/images/speakers/speakers-small-1.jpg" />							
							</a>
						</div>
						<div class='clearfix'></div>
					</div>

					<div class="session-item">
						<div class="col m3">
							<h6 class="time right-align hide-on-small-only">9:00 - 9:30</h6>
							<h6 class="time left-align hide-on-large-only hide-on-med-only">9:00 - 9:30</h6>
						</div>
						<div class=" col m6">
							<a href="#"><h5 class="break">Break</h5></a>						
						</div>	
						<div class='clearfix'></div>				
					</div>

				</div>
			</div>

			<div id="activity-show-bookmarks">
				<div class="session-content">
					<div class="title">
						<div class="col s12 m9 offset-m3">
							<h3>Day 2</h3>
						</div>
						<div class='clearfix'></div>
					</div>
					<div class="session-item">
						<div class="col s12 m3">
							<h6 class="time right-align hide-on-small-only">9:00 - 9:30</h6>
							<h6 class="time left-align hide-on-large-only hide-on-med-only">9:00 - 9:30</h6>
						</div>
						<div class=" col s12 m6">
							<a href="#"><h5 class="break">REGISTRATION</h5></a>						
						</div>	
						<div class='clearfix'></div>				
					</div>
					<div class="session-item">
						<div class="col s12 m3">
							<h6 class="time right-align hide-on-small-only">9:00 - 9:30</h6>
							<h6 class="time left-align hide-on-large-only hide-on-med-only">9:00 - 9:30</h6>
						</div>
						<div class="col s12 m6">
							<a href="#"><h5>Ember Fanky x making things happen go go alle alle</h5></a>
							<p>Rocky Martin, Lorem van Ipsum</p>
						</div>					
						<div class="col s12 m3">
							<a href="#" class="center-align">
								<img class="responsive-img speakers-small-img" src="assets/images/speakers/speakers-small-8.jpg" />
								<img class="responsive-img speakers-small-img" src="assets/images/speakers/speakers-small-1.jpg" />							
							</a>
						</div>
						<div class='clearfix'></div>
					</div>
					<div class="session-item">
						<div class="col s12 m3">
							<h6 class="time right-align hide-on-small-only">9:00 - 9:30</h6>
							<h6 class="time left-align hide-on-large-only hide-on-med-only">9:00 - 9:30</h6>
						</div>
						<div class=" col s12 m6">
							<a href="#"><h5 class="break">Break</h5></a>						
						</div>	
						<div class='clearfix'></div>				
					</div>				
				</div>
			</div>
			<div id="activity-show-snapshots">
				<div class="session-content">
					<div class="title">
						<div class="col s12 m9 offset-m3">
							<h3>Day 3</h3>
						</div>
						<div class='clearfix'></div>
					</div>
					<div class="session-item">
						<div class="col s12 m3">
							<h6 class="time right-align hide-on-small-only">9:00 - 9:30</h6>
							<h6 class="time left-align hide-on-large-only hide-on-med-only">9:00 - 9:30</h6>
						</div>
						<div class=" col s12 m6">
							<a href="#"><h5 class="break">REGISTRATION</h5></a>						
						</div>	
						<div class='clearfix'></div>				
					</div>
					<div class="session-item">
						<div class="col s12 m3">
							<h6 class="time right-align hide-on-small-only">9:00 - 9:30</h6>
							<h6 class="time left-align hide-on-large-only hide-on-med-only">9:00 - 9:30</h6>
						</div>
						<div class="col s12 m6">
							<a href="#"><h5>Ember Fanky x making things happen go go alle alle</h5></a>
							<p>Rocky Martin, Lorem van Ipsum</p>
						</div>					
						<div class="col s12 m3">
							<a href="#" class="center-align">
								<img class="responsive-img speakers-small-img" src="assets/images/speakers/speakers-small-8.jpg" />
								<img class="responsive-img speakers-small-img" src="assets/images/speakers/speakers-small-1.jpg" />							
							</a>
						</div>
						<div class='clearfix'></div>
					</div>
					<div class="session-item">
						<div class="col s12 m3">
							<h6 class="time right-align hide-on-small-only">9:00 - 9:30</h6>
							<h6 class="time left-align hide-on-large-only hide-on-med-only">9:00 - 9:30</h6>
						</div>
						<div class=" col s12 m6">
							<a href="#"><h5 class="break">Break</h5></a>						
						</div>	
						<div class='clearfix'></div>				
					</div>				
				</div>
			</div>	
		</section>	
	</div>
</div>