@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

$image-path: 'images' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';
@mixin background-image($name, $size:false){
    background-image: url(#{$image-path}/#{$name}.svg);
    @if($size){
        background-size: $size;
    }

    .no-svg &{
      @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
        background-size: $size;
      }
      background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});

    }

    background-repeat: no-repeat;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}
@mixin box-shadow($arg1){
  -moz-box-shadow:$arg1; /* drop shadow */
  -webkit-box-shadow: $arg1; /* drop shadow */
  box-shadow: $arg1; /* drop shadow */
}
@mixin box-shadow-2($args1, $args2) {
    -webkit-box-shadow: $args1, $args2;
    -moz-box-shadow: $args1, $args2;
    box-shadow: $args1, $args2;
}
@mixin box-shadow-3($args1, $args2, $args3) {
    -webkit-box-shadow: $args1, $args2, $args3;
    -moz-box-shadow: $args1, $args2, $args3;
    box-shadow: $args1, $args2, $args3;
}
@mixin border-top-radius($radii) {
  border-top-left-radius: $radii;
  border-top-right-radius: $radii;
}

@mixin border-right-radius($radii) {
  border-bottom-right-radius: $radii;
  border-top-right-radius: $radii;
}

@mixin border-bottom-radius($radii) {
  border-bottom-left-radius: $radii;
  border-bottom-right-radius: $radii;
}

@mixin border-left-radius($radii) {
  border-bottom-left-radius: $radii;
  border-top-left-radius: $radii;
}

@mixin background-clip($padding_box){
  -moz-background-clip: padding;
  -webkit-background-clip: $padding_box;
  background-clip: $padding_box; 
}

@mixin border-top($size, $type, $color) {
  border-top: $size $type $color;
}

@mixin border-bottom($size : 1px, $type : solid, $color : #000000) {
  border-bottom: $size $type $color;
}

@mixin transition($args:200ms) {
     -webkit-transition: $args;
     -moz-transition: $args;
     -o-transition: $args;
     -ms-transition: $args;
     transition: $args;
}

@mixin transform($args) {
     -webkit-transform: $args;
     -moz-transform: $args;
     -ms-transform: $args;
     -o-transform: $args;
     transform: $args;
}

@mixin box-sizing($args) {
     -webkit-box-sizing: $args;
     -moz-box-sizing: $args;
     box-sizing: $args;
}