<footer>
  <img src="/2022/images/icons/glasses.svg">
  <p>&copy; 2017 - 2022 EmberFest UG</p>
  <div class="links">
    <ul>
      <li>
        <a class="footer__links" href="/2017">2017</a>
      </li>
      <li>
        <a class="footer__links" href="/2018">2018</a>
      </li>
      <li>
        <a class="footer__links" href="/2019">2019</a>
      </li>
      <li>
        <a class="footer__links" href="/2020">2020</a>
      </li>
      <li>
        <a class="footer__links" href="/2021">2021</a>
      </li>
      <li>
        <a class="footer__links" href="/2022">2022</a>
      </li>
      <li>
        <a class="footer__links" href="/">2023</a>
      </li>
    </ul>
    <p>
      Thanks to
      <a class="footer__links" href="https://ti.to">Tito</a>
      for supporting EmberFest
    </p>
    <ul>
      <li><a class="footer__links" href="https://www.papercall.io/emberfest-2022">CFP</a></li>
      <li><a class="footer__links" href="/2022/images/sponsorship-prospectus-2022.pdf">Sponsoring</a></li>
      <li><a class="footer__links" href="/2022/code-of-conduct">Code of Conduct</a></li>
      <li><a class="footer__links" href="/2022/cancellation">Cancellation</a></li>
      <li><a class="footer__links" href="/2022/imprint">Imprint</a></li>
    </ul>
  </div>
</footer>