<footer class=" footer">
  <div class="container">
    <div class="footer__wrapper--top">
      <img class="icon" src="/2021/images/glasses.svg" alt="icon">
      <p class="footer__copyright">&copy; 2017 - 2022 EmberFest UG</p>
    </div>
    <div class="footer__wrapper--bottom">
      <div class="footer__pastEvents">
        <a class="footer__links" href="/2017">2017</a> • <a class="footer__links" href="/2018">2018</a> • <a class="footer__links" href="/2019">2019</a> • <a class="footer__links" href="/2020">2020</a> • <a class="footer__links" href="/2020">2021</a>
      </div>
      <div class="footer__thanks">
        <p>Thanks to <a class="footer__links" href="https://ti.to">Tito</a> for supporting EmberFest <br/>Graphics from the Noun Project and Freevector</p>
      </div>
    <div class="footer__bottomNav">
      <a class="footer__links" href="/2021/code-of-conduct">Code of Conduct</a> • <a class="footer__links" href="/2021/corona-safety">Coronavirus & Safety</a> • <a class="footer__links" href="/2021/cancellation">Cancellation</a> • <a class="footer__links" href="/2021/privacy">Privacy</a> • <a class="footer__links" href="/2021/imprint">Imprint</a>
    </div>
  </div>
</footer> <!-- footer -->
