<h5>Day 1 (Oct 11, Thursday)</h5>
<table class="table schedule-table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Talk</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="schedule-table--timeslot">10:00&ndash;10:30</td>
      <td>Opening Keynote by Tom Dale
        <a href="https://www.youtube.com/watch?v=oRzmDobMZ_Q&list=PLN4SpDLOSVkSB9034lDNdP1JoNBGssax9">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">10:45&ndash;11:15</td>
      <td><a href="/2018/schedule/#scott-newcomer">Principles from leaders across the Ember community by Scott Newcomer</a>
        <a href="https://www.youtube.com/watch?v=1pv1-4q1ylY&index=2&list=PLN4SpDLOSVkSB9034lDNdP1JoNBGssax9">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">11:30&ndash;12:00</td>
      <td><a href="/2018/#kevin-pfefferle">From the Browser to the Home Screen: PWAing Your Ember App by Kevin
          Pfefferle</a>
        <a href="https://www.youtube.com/watch?v=jJhhMG91vL0&index=3&list=PLN4SpDLOSVkSB9034lDNdP1JoNBGssax9">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">12:00&ndash;13:30</td>
      <td>Lunch</td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">13:30&ndash;14:00</td>
      <td><a href="/2018/schedule/#tobias-bieniek">ELS - the Ember Language Server by Tobias Bieniek</a>
        <a href="https://www.youtube.com/watch?v=t6ZQtP5rW2o&index=4&list=PLN4SpDLOSVkSB9034lDNdP1JoNBGssax9">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>

    <tr>
      <td class="schedule-table--timeslot">14:15&ndash;14:45</td>
      <td><a href="/2018/schedule/#jonathan-jackson">Transformers: Codemods in Disguise by Jonathan Jackson</a>
        <a href="https://www.youtube.com/watch?v=mkg3NWcloOw&index=5&list=PLN4SpDLOSVkSB9034lDNdP1JoNBGssax9">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">15:00&ndash;15:30</td>
      <td><a href="/2018/schedule/#lightning-talks">Lightning Talks</a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">15:30&ndash;16:00</td>
      <td>Snack break</td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">16:00&ndash;16:30</td>
      <td><a href="/2018/schedule/#jessica-jordan">Crafting Web Comics with Ember by Jessica Jordan</a>
        <a href="https://www.youtube.com/watch?v=Ezb-sovFD5o&index=12&list=PLN4SpDLOSVkSB9034lDNdP1JoNBGssax9">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">16:45&ndash;17:15</td>
      <td><a href="/2018/schedule/#michael-lange">Going Realtime with Ember by Michael Lange</a>
        <a href="https://www.youtube.com/watch?v=9Uh5V1sHgSw&index=13&list=PLN4SpDLOSVkSB9034lDNdP1JoNBGssax9">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
  </tbody>
</table>

<h5>Day 2 (Oct 12, Friday)</h5>
<table class="table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Talk</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="schedule-table--timeslot">10:00&ndash;10:30</td>
      <td><a href="/2018/schedule/#simon-ihmig">Honey, I shrunk your Ember app by Simon Ihmig
          <a href="https://www.youtube.com/watch?v=Dajlq3Nv7o0&index=14&list=PLN4SpDLOSVkSB9034lDNdP1JoNBGssax9">
            <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">10:45&ndash;11:15</td>
      <td><a href="/2018/schedule/#marco-otte-witte">Deliver fast apps even faster by Marco Otte-Witte
          <a href="https://www.youtube.com/watch?v=5NrsB2FYBlQ&index=15&list=PLN4SpDLOSVkSB9034lDNdP1JoNBGssax9">
            <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">11:30&ndash;12:00</td>
      <td><a href="/2018/schedule/#danielle-adams">Mastering the Art of Forms by Danielle Adams</a>
        <a href="https://www.youtube.com/watch?v=-UZyjqBm59U&index=16&list=PLN4SpDLOSVkSB9034lDNdP1JoNBGssax9">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">12:00&ndash;13:30</td>
      <td>Lunch</td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">13:30&ndash;14:00</td>
      <td><a href="/2018/schedule/#rocky-neurock">No Graph Theory Required: Ember and GraphQL in Practice by Rocky Neurock
          and Chad Carbert</a>
        <a href="https://www.youtube.com/watch?v=kgfBexYbM68&index=17&list=PLN4SpDLOSVkSB9034lDNdP1JoNBGssax9">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">14:15&ndash;14:45</td>
      <td><a href="/2018/schedule/#francesco-novy">Bringing coffee tasting to rural areas with Ember & Cordova by Francesco
          Novy</a>
        <a href="https://www.youtube.com/watch?v=8PG_MYasTpI&index=18&list=PLN4SpDLOSVkSB9034lDNdP1JoNBGssax9">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">15:00&ndash;15:30</td>
      <td><a href="/2018/schedule/#kenneth-larsen">The State of Community Documentation by Kenneth Larsen</a>
        <a href="https://www.youtube.com/watch?v=LEcn9OZqaLc&index=19&list=PLN4SpDLOSVkSB9034lDNdP1JoNBGssax9">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">15:30&ndash;16:00</td>
      <td>Snack break</td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">16:00&ndash;16:30</td>
      <td><a href="/2018/schedule/#chad-hietala">The Future Of Templating In Ember by Chad Hietala</a>
        <a href="https://www.youtube.com/watch?v=DrJbBFwlXEc&index=20&list=PLN4SpDLOSVkSB9034lDNdP1JoNBGssax9">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
    <tr>
      <td class="schedule-table--timeslot">16:45&ndash;17:15</td>
      <td>Closing keynote by Melanie Sumner
        <a href="https://www.youtube.com/watch?v=xP-kog04lng&index=21&list=PLN4SpDLOSVkSB9034lDNdP1JoNBGssax9">
          <i class="fa fa-youtube-play"></i></a>
      </td>
    </tr>
  </tbody>
</table>
