---
layout: 2023/default
css: sidepages
title: EmberFest
---

{% include 2023/sidepages_header.html %}

<main>
  <section>
    <h3 class="imprint__title" >Imprint</h3>
    <div class="content">
      <div class="imprint__responsible_info">
        <p>
            Publisher information according to §6 Teledienstgesetz (TDG)<br />
            Responsible according to §6 MDStV:
          </p>
          <p>
            EmberFest UG <br />
            +49 89 452 139 03<br />
            Marco Otte-Witte <br />
            Hans-Sachs-Str. 12 <br />
            80469 München <br />
            Germany <br />
          </p>
        
      </div>
      
      <h4>Exclusion of Liability</h4>
      <p>
        We check and update the information on this website regularly. Despite
        our best efforts, information on the site may not always be correct.
        Liability concerning timeliness, correctness and completeness of the
        available information can not be assumed. This applies also for all
        other websites which are referred via hyperlink. EmberFest UG is not
        responsible for the content of these third party websites.
      </p>
    </div>
  </section>
</main>

{% include 2023/footer.html %}
