<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EmberFest - the European Community Ember Conference"/>
    <meta name="keywords" content="" />
    <meta name="language" content="en"/>
    <meta name="content-language" content="en"/>
    <meta name="publisher" content="EmberFest" />
    <meta name="google-site-verification" content="Ox-Z9OC-1YfXCQPGqJ6tooFNOtyxuATVYCVeM3RJk3s" />
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/vendor/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/vendor/font-consolas.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href='https://css.tito.io/v1.1' />
    <link rel="stylesheet" href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {{content}}
    <div class="container">
      <div class="row footer">
        <div id="footer-logo" class="col-md-4">
          <span>&copy; 2017 </span>
          <a href="https://emberfest.eu" target="_blank">EmberFest</i></a>
        </div>
        <div class="col-md-4 text-center">
          Thanks to <a href='https://ti.to'>Tito</a> for supporting EmberFest
        </div>
        <div class="col-md-4 text-right links">
          <a href="/sponsorship.pdf">Sponsorship</a>
          <a href="/code-of-conduct">Code of Conduct</a>
          <a href="/imprint">Imprint</a>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53237918-17', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
    <script src='https://js.tito.io/v1' async></script>
    <script>TitoDevelopmentMode = (window.location.hostname === 'localhost')</script>
  </body>
</html>
