<footer class="page-footer">    
    <div class="container">
        <div class="footer-menu center-align">
            <ul>
                <li><a href="#!">TALKS</a></li>
                <li><a href="#!">VENUE</a></li>
                <li><a href="#!">PARTNERS</a></li>
                <li><a href="#!">PREVIOUS</a></li>
                <li><a href="#!">LOGIN</a></li>
                <li><a href="#!">YEARS</a></li>
            </ul>
        </div>
    </div>    
    <div class="footer-copyright center-align">      
          © EMBERFEST 2016. ALL RIGHTS RESERVED
    </div>
    <img class="responsive-img center-align logo-footer" src="assets/images/logo/ember-fest-gray-logo.png" />
</footer>