<div class="container">
	<div class="row">
	    <div class="col s12">
			<nav>
				<div class="nav-wrapper">
				  <a href="#" class="brand-logo left">Logo</a>
				  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				  <ul id="nav-mobile" class="right hide-on-med-and-down">

				    <li class="active"><a href="sass.html">Talks</a></li>
				    <li><a href="badges.html">Venue</a></li>
				    <li><a href="collapsible.html">Partners</a></li>
				    <li><a href="collapsible.html">Previous</a></li>
				    <li><a href="collapsible.html">Years</a></li>
				    <li><a href="collapsible.html">Login</a></li>

				  </ul>
				  <ul class="side-nav" id="mobile-demo">
			        <li class="active"><a href="sass.html">Talks</a></li>
				    <li><a href="badges.html">Venue</a></li>
				    <li><a href="collapsible.html">Partners</a></li>
				    <li><a href="collapsible.html">Previous</a></li>
				    <li><a href="collapsible.html">Years</a></li>
				    <li><a href="collapsible.html">Login</a></li>
			      </ul>
				</div>
			</nav>      	
	    </div>
	</div>
</div>