<div class="container">
	<div class="row">
		<div class="col s12 m10 offset-m1">
			<h4 id="sponsors" class="center-align">{Sponosors}</h4>
			<div class="sponsors">
				<div class="row sponsor" id="sponsor-gold">
					<div class="col s12 m12 l2 gold">																
						<i class="material-icons gold-color left">radio_button_unchecked</i><h6>GOLD</h6>
					</div>
					<div class="col s6 m4 l2">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/clients/client-1.png" />					
						</a>
					</div>
					<div class="col s6 m4 l2">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/clients/client-2.png" />					
						</a>
					</div>
					<div class="col s6 m4 l2">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/clients/client-3.png" />					
						</a>
					</div> 
					<div class="col s6 m4 l2">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/clients/client-4.png" />					
						</a>
					</div>
					<div class="col s6 m4 l2">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/clients/client-5.png" />					
						</a>
					</div>
				</div>
			

				<div class="row sponsor" id="sponsor-silver">
					<div class="col s12 m12 l2 silver">						
						<i class="material-icons silver-color left">radio_button_unchecked</i><h6>Silver</h6>						
					</div>
					<div class="col s6 m4 l2">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/clients/client-1.png" />					
						</a>
					</div>
					<div class="col s6 m4 l2">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/clients/client-2.png" />					
						</a>
					</div>
					<div class="col s6 m4 l2">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/clients/client-3.png" />					
						</a>
					</div> 
					<div class="col s6 m4 l2">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/clients/client-4.png" />					
						</a>
					</div>
					<div class="col s6 m4 l2">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/clients/client-5.png" />					
						</a>
					</div>
				</div>
			

				<div class="row sponsor" id="sponsor-bronz">
					<div class="col s12 m12 l2 bronz">						
						<i class="material-icons bronz-color left">radio_button_unchecked</i><h6>Bronz</h6>						
					</div>
					<div class="col s6 m4 l2">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/clients/client-1.png" />					
						</a>
					</div>
					<div class="col s6 m4 l2">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/clients/client-2.png" />					
						</a>
					</div>
					<div class="col s6 m4 l2">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/clients/client-3.png" />					
						</a>
					</div> 
					<div class="col s6 m4 l2">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/clients/client-4.png" />					
						</a>
					</div>
					<div class="col s6 m4 l2">
						<a href="#" class="center-align">
							<img class="responsive-img" src="assets/images/clients/client-5.png" />					
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>