<div class="container">
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <h4 id="sponsors" class="center-align">{Partners}</h4>
            <div class="sponsors">
                <div class="row sponsor" id="sponsor-silver">
                    <div class="col s12 m12 l2 silver">
                        <i class="material-icons silver-color left">radio_button_unchecked</i><h6>Featured</h6>
                    </div>
                    <div class="col s6 m6 l3">
                        <a href="https://www.simplabs.com/" class="center-align" target="_blank">
                            <h3>Video Partner</h3>
                            <img class="responsive-img" src="/uploads/partner_simplabs.png"/>
                        </a>
                    </div>
                </div>

                <div class="row sponsor" id="sponsor-gold">
                    <div class="col s12 m12 l2 gold">
                        <i class="material-icons gold-color left">radio_button_unchecked</i><h6>GOLD</h6>
                    </div>
                    <div class="col s6 m6 l3">
                        <a href="https://www.getharvest.com" class="center-align" target="_blank">
                            <img class="responsive-img" src="/uploads/partner_harvest.png"/>
                        </a>
                    </div>
                    <div class="col s6 m6 l3">
                        <a href="http://www.201-created.com" class="center-align" target="_blank">
                            <img class="responsive-img" src="/uploads/partner_201.png"/>
                        </a>
                    </div>
                    <div class="col s6 m6 l3">
                        <a href="https://haagen-software.no/" class="center-align" target="_blank">
                            <img class="responsive-img" src="/uploads/partner_hs_grey.png"/>
                        </a>
                    </div>
                </div>

                <div class="row sponsor" id="sponsor-bronz">
                    <div class="col s12 m12 l2 bronz">
                        <i class="material-icons bronz-color left">radio_button_unchecked</i><h6>Bronze</h6>
                    </div>
                    <div class="col s6 m6 l3">
                        <a href="https://www.bookingsync.com/" class="center-align" target="_blank">
                            <img class="responsive-img" src="/uploads/partner_bookingsync.png"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>