<div class="row footer">
  <div id="footer-logo" class="col-md-4">
    <span>&copy; 2017 - 2020 </span>
    <a href="https://emberfest.eu" target="_blank">EmberFest</i></a>
  </div>
  <div class="col-md-3 text-center">
    Thanks to <a href='https://ti.to'>Tito</a> for supporting EmberFest
  </div>
  <div class="col-md-5 text-right links">
    <a href="/">2022</a>
    <a href="/2021">2021</a>
    <a href="/2020">2020</a>
    <a href="/2019">2019</a>
    <a href="/2018">2018</a>
    <a href="/2017">2017</a>
    <a href="/2017/code-of-conduct">Code of Conduct</a>
    <a href="/2017/cancellation">Cancellation</a>
    <a href="/2017/imprint">Imprint</a>
  </div>
</div>
