<div id="sponsors" class="container content">
  <h1>Sponsors</h1>
  <div class="row">
    <div class="logo left">
      <a href="http://manning.com"><img class="manning" src="/images/manningpub.png" alt=""></a>
    </div>
    <div class="logo left">
      <a href="http://www.infoq.com"><img class="infoq" src="/images/infoq.png" alt=""></a>
    </div>
    <div class="logo left">
      <a href="http://www.mochaleaf.com/"><img class="mochaleaf" src="/images/mochaleaf.png" alt=""></a>
    </div>
  </div>

  <div class="row">
      <div class="logo left">
        <a href="http://haagen-software.no"><img class="hs" src="/images/hs_logo.png" alt=""></a>
      </div>
      <div class="logo left">
        <h1 style="margin-top: 45%; margin-left: 10%;"><a href="mailto:joachim@haagen-software.no">Become a sponsor</a></h1>
      </div>
      <div class="logo left">
        <h1 style="margin-top: 45%; margin-left: 10%;"><a href="mailto:joachim@haagen-software.no">Become a sponsor</a></h1>
      </div>
    </div>
</div>