<div class="row">
    <div class="small-12 large-5 columns">
        <h2>{{id}}</h2>
        <ul>
            {{#each key in adminKeys}}
                <li>{{key.id}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="small-12 large-7 columns">
        {{outlet}}
    </div>
</div>
