<script>
  $(document).foundation();
</script>

<header>
  <div class="row">
    <div class="small-12 large-12 columns">

      <!-- BEGIN TOP NAV -->
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1>
              {{#link-to "index"}}<img src="/images/logo.png" class="logo">{{/link-to}}
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            {{#if controllers.user.isLoggedIn}}
              <li>{{#link-to "profile"}}Your Profile{{/link-to}}</li>
              <li><a {{action "doLogOut"}}>Sign out</a></li>
            {{else}}
              <li><a {{action "doLogIn"}}>Sign in</a></li>
            {{/if}}
          </ul>

          <ul class="left main-nav">
            <li>{{#link-to "talks"}}Talks{{/link-to}}</li>
            <li>{{#link-to "venue"}}Venue{{/link-to}}</li>
            <li>{{#link-to "partners"}}Sponsors{{/link-to}}</li>
            <li>{{#link-to "organizers"}}About{{/link-to}}</li>
            <li>{{#link-to "munich"}}2013{{/link-to}}</li>
          </ul>
        </section>
      </nav>
      <!-- END TOP NAV -->

      <!-- BEGIN BANNER -->
      <div class="banner text-center">
        <h1>The biggest ember.js event in Europe</h1>
        <h2>26 &ndash; 29 August 2014</h2>

        <a href="#" class="button">Subscribe</a>
        {{#link-to "tickets" class="button disabled"}}Buy tickets{{/link-to}}
      </div>
      <!-- END BANNER -->

      <div class="social text-center">
        <a href="https://twitter.com/EmberFest"><img src="/images/icons/twitter.png"></a>
        <a href="#"><img src="/images/icons/rss.png"></a>
        <a href="mailto:mail@emberfest.eu"><img src="/images/icons/mail.png"></a>
      </div>

    </div>
  </div>
</header>

<div class="row main-content">
  <div class="small-12 large-12 columns">
    {{outlet}}
  </div>
</div>

<footer>
  <div class="row">
    <div class="small-12 large-6 columns text-left">
      <ul class="inline-list">
        <li>{{#link-to "index"}}Home{{/link-to}}</li>
        <li>{{#link-to "talks"}}Talks{{/link-to}}</li>
        <li>{{#link-to "venue"}}Venue{{/link-to}}</li>
        <li>{{#link-to "partners"}}Sponsors{{/link-to}}</li>
        <li>{{#link-to "organizers"}}About{{/link-to}}</li>
        <li>{{#link-to "munich"}}2013{{/link-to}}</li>
      </ul>
    </div>
    <div class="small-12 large-6 columns text-right">
        <small>Designed and developed by <a href="http://haagen-software.no">Haagen Software AS</a> and <a href="https://twitter.com/tair">@tair</a></small>
    </div>
  </div>
</footer>
