<div class="sticky-navbar" id="nav">
  <ul id="navbar" class="sticky-nav">
    <li><img {{bindAttr src="logoUrl"}} alt="Ember Fest 2013 Logo"></li>
    <li class="index-a">{{#linkTo index}}HOME{{/linkTo}}</li>
    <li class="tickets-a">{{#linkTo munich}}2013{{/linkTo}}</li>
  </ul>
    <div class="nav right">
        <a class="twitter" href="https://twitter.com/EmberFest"><img src="/images/twitter.png" alt="Official EmberFest Twitter account"></a>
        <a class="mail" href="mailto:joachim@haagen-software.no"><img src="/images/mail.png" alt="Contact EmberFest organizers"></a>
    </div>
</div>

{{outlet}}

<div class="navbar footer">
  <ul class="nav">
    <li><img {{bindAttr src="logoUrl"}} alt="Ember Fest 2013 Logo"></li>
    <li class="right"><span>Designed by <a href="http://www.mochaleaf.com/">MochaLeaf Inc.</a></span></li>
  </ul>
</div>