<h2>We're back</h2>

<p>
  Ember Fest 2013 was an absolute success. In 2014 Ember Fest will take the
  conference to a new level over three amazing days in late August. As last
  year, Ember Fest will by far be the European Ember.js event this year!
</p>

<p>
  We are working hard on planning the event, which will contain hands-on
  training sessions, a hackathon and awesome presentations that will showcase
  what Ember.js brings to the table!
</p>

<p>
  The videos from {{#link-to "munich"}}2013 will be published{{/link-to}},
  one video per week, throughout the rest of the year.
</p>
