<div class="container" id="home">
  <div class="date">
    <h2>Barcelona, Spain. August, 27-29th 2014</h2>
  </div>
  <div class="home-content">
    <img class="logo" src="/images/logo_large.png" alt="EmberFest 2013">
    <img class="map" src="/images/barcelona_silhouette.png" alt="Barcelona, Spain">
    <img class="mascot" src="/images/mascot.png" alt="Ember.js Mascot">
    <div class="text">
      <h2>The Biggest Ember.js Event in Europe!</h2>
      <p>Ember Fest 2013 was an absolute success. In 2014 Ember Fest will take the conference to a new level over three amazing days in late august. As last year, Ember Fest will by far be the European Ember.js event this year!</p>
      <p>We are working hard on planning the event, which will contain hands-on training sessions, a hackathon and awesoeme presentations that will showcase what Ember.js bring to the table!</p>
      <p>The videos from {{#linkTo "munich"}}2013 will be published{{/linkTo}}, one video per week, throughout the rest of the year.</p>
    </div>
  </div>
</div>