<div class="container" id="home">
  <div class="navbar">
    <ul class="nav right">
      <li><a class="twitter" href="https://twitter.com/EmberFest"><img src="/images/twitter.png" alt="Official EmberFest Twitter account"></a></li>
      <li><a class="mail" href="mailto:joachim@haagen-software.no"><img src="/images/mail.png" alt="Contact EmberFest organizers"></a></li>
    </ul>
  </div>
  <div class="date">
    <h2>August, 28-30th 2013</h2>
  </div>
  <div class="home-content">
    <img class="logo" src="/images/logo_large.png" alt="EmberFest 2013">
    <img class="map" src="/images/map.png" alt="Munich, Germany">
    <img class="mascot" src="/images/mascot.png" alt="Ember.js Mascot">
    <div class="text">
      <h2>The Biggest Ember.js Event in Europe!</h2>
      <p>Ember Fest takes place in Munich, Germany and will be a three day event from August 28th until August 30th. This will by far be the European Ember.js event this year!</p>
      <p>The goal of Ember Fest is split into two parts. The first two days will be a hands on 2-day introductory course on Ember.js, while the third day will be organized as a single-track mini-conference with talks and tutorials.</p>
      <p>Training, talks and tutorials will be held by people with first hand Ember.js experience, where they will share their knowledge and spread the word on Ember.js awesomeness!</p>
    </div>
    <div class="button">
      <div>{{#linkTo index.tickets}}Buy Tickets{{/linkTo}}</div>
    </div>
  </div>
</div>