<h2>Ember Fest 2013 - Munich</h2>

<p>
  Ember Fest 2013 was an absolute success! Ember Fest Munich offered two days
  of introductory Ember.js training, a world-class Hackathon as well as a
  full day conference. After the main event, a proper Bavarian celebration
  was played out at the amazing Hofbräuhaus.
</p>

<p>
  <a href="http://www.infoq.com">InfoQ</a> were kind enough to send their
  videographer to film the presentations. These will be published on their
  website throughout the rest of 2013. Once the talks are made available,
  a link will be provided in the table below.
</p>


<h3>The list of 2013 presentations</h3>


<table>
  <thead>
    <tr>
        <th>Title of the presentation</th>
        <th width="150">Presenter</th>
        <th width="150">Links</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>
          <p class="title">2-day Introductory Ember.js Training</p>
          Joachim is the author of Ember.js in Action and the lead organizer of Ember Fest.
          Joachim have worked with Ember.js since it forked out of SproutCore and have a wide experience developing web applications.
        </td>
        <td>Joachim Haagen Skeie</td>
        <td><a href="http://emberjstraining.com">Ember.js Training</a></td>
    </tr>
    <tr>
        <td>
          <p class="title">Query params with the Ember router: past, present and future</p>
          Alex Speller introduces Ember Query, a library enabling query string usage in Ember: introduction, advanced usage, tips & tricks, the future.
        </td>
        <td>Alex Speller</td>
        <td><a href="http://www.infoq.com/presentations/ember-query-string?utm_source=infoq&utm_medium=videos_homepage&utm_campaign=videos_row1">Video (InfoQ)</a></td>
    </tr>
    <tr>
        <td>
          <p class="title">Productive Out-of-the-Box</p>
          Anthony provides a survey of the Ember.js tooling landscape, highlighting the use of Yeoman. Anthony Bull (@inkredabull) is the Sr. Web Engineer at CrowdFlower and has been working with Ember.js for over a year.
        </td>
        <td>Anthony Bull</td>
        <td><a href="http://www.infoq.com/presentations/emberjs-tools-yeoman">Video (InfoQ)</a></td>
    </tr>
    <tr>
        <td>
          <p class="title">Experiences building a hypervideo-based webapp with Ember.js, Popcorn.js and HTML5</p>
          Thomas talks about the advantages, challenges and lessons learnt in realizing a multimedia-heavy, interactive HTML5 application with Ember.js.
        </td>
        <td>Thomas Herrmann</td>
        <td><a href="http://www.infoq.com/presentations/hypermedia-emberjs-html5">Video (InfoQ)</a></td>
    </tr>
    <tr>
        <td>
          <p class="title">Insights from using ember.js in the field</p>
          This talk will share some best practice about using ember.js to master the needs of real-world web applications and present the things who worked well and the ones who didn't.
        </td>
        <td>Stefan Fochler</td>
        <td><a href="http://www.infoq.com/presentations/emberjs-use-case">Video (InfoQ)</a></td>
    </tr>
    <tr>
        <td>
          <p class="title">Ember Reusable Components and Widgets</p>
          Sergey is a Front-end developer in New Proimage (Agfa) residing in Israel. Sergeys talk will go over Ember.js' many strong sides. One of them is combination of Handlebars templates, Ember.View's and their nesting which allows to built indeed complex UI.
        </td>
        <td>Sergey Bolshchikov</td>
        <td><a href="http://www.infoq.com/presentations/ember-view-handlebars-ui">Video (InfoQ)</a></td>
    </tr>
    <tr>
        <td>
          <p class="title">Complex Architectures in Ember</p>
          In Ember, convention trumps configuration so strongly we easily forget that there are a myriad of moving parts under the hood. Once we move past CRUD applications, understanding how messages move through Ember's views, controllers, and routes becomes crucial.
        </td>
        <td>Matthew Beale</td>
        <td><a href="http://www.infoq.com/presentations/emberjs-messages-views-controller-router">Video (InfoQ)</a></td>
    </tr>
    <tr>
        <td>
          <p class="title">Ember-Data, the way forward</p>
          Igor Terzic presents several cases where Ember Data is used in production, and outlines some of the features that are intended to be included in the future.
        </td>
        <td>Igor Terzic</td>
        <td><a href="http://www.infoq.com/presentations/ember-data?utm_source=infoq&utm_medium=videos_homepage&utm_campaign=videos_row3">Video (InfoQ)</a></td>
    </tr>
    <tr>
        <td>
          <p class="title">Advanced Patterns</p>
          Pauls talk presents a few advanced/non-obvious techniques, useful in process of building large EmberJS applications with Ember Data
        </td>
        <td>Paul Chavard</td>
        <td><a href="http://www.infoq.com/presentations/emberjs-patterns-data">Video (InfoQ)</a></td>
    </tr>
    <tr>
        <td>
          <p class="title">Forget Passwords, Use Persona</p>
          Ember Fest uses Mozilla Persona for registration and sign-in. Come learn what Persona is, how Persona works, and how you can use Persona to get rid of passwords in your own applications. This will be a short introductory talk followed by an audience-driven deep dive into Persona's philosophy, design, and implementation.
        </td>
        <td>Dan Callahan</td>
        <td>Video Coming Soon!</td>
    </tr>
  </tbody>
</table>
