<div id="schedule" class="container content">
    <div class="side">
        <h1>Ember Fest 2013 - Munich</h1>
        <p>Ember Fest 2013 was an absolute success! Ember Fest Munich offered two days of introductory Ember.js training, a world-class Hackathon as well as a full day conference. </p>
        <p>After the main event, a proper Bavarian celebration was played out at the amazing Hofbräuhaus.</p>
        <p><a href="http://www.infoq.com">InfoQ</a> were kind enough to send their videographer to film the presentations. These will be published on their website throughout the rest of 2013. Once the talks are made available, a link will be provided in the table below.</p>
    </div>
    <div class="side">
        <img src="/images/talks.png" alt="talks">
        <h1>Schedule</h1>
        <table cellspacing="10" width="600">
            <tr class="scheduleHeader">
                <td width="100">Time</td>
                <td>Title</td>
                <td width="100">Presenter</td>
                <td width="100">Video</td>
            </tr>
            <tr>
                <td>09:00 - 09:20</td>
                <td>Welcome and Registration</td>
                <td>The Organizers</td>
                <td>-</td>
            </tr>
            <tr>
                <td>09:20 - 09:35</td>
                <td>Opening Talk</td>
                <td>The Organizers</td>
                <td>-</td>
            </tr>
            <tr>
                <td>09:40 - 10:00</td>
                <td>Query params with the Ember router: past, present and future</td>
                <td>Alex Speller</td>
                <td><a href="http://www.infoq.com/presentations/ember-query-string?utm_source=infoq&utm_medium=videos_homepage&utm_campaign=videos_row1">Video (InfoQ)</a></td>
            </tr>
            <tr>
                <td>10:05 - 10:35</td>
                <td>Productive Out-of-the-Box</td>
                <td>Anthony Bull</td>
                <td>-</td>
            </tr>
            <tr class="breakRow">
                <td colspan="3">Coffee Break With Snacks</td>
            </tr>
            <tr>
                <td>11:00 - 11:20</td>
                <td>Experiences building a hypervideo-based webapp with Ember.js, Popcorn.js and HTML5</td>
                <td>Thomas Herrmann</td>
                <td>-</td>
            </tr>
            <tr>
                <td>11:25 - 11:50</td>
                <td>Custom Adapters in Ember Data</td>
                <td>Andy Leeper</td>
                <td>-</td>
            </tr>
            <tr>
                <td>11:55 - 12:30</td>
                <td>Forget Passwords, Use Persona.</td>
                <td>Dan Callahan</td>
                <td>-</td>
            </tr>
            <tr class="breakRow">
                <td colspan="3">Buffet Lunch Break</td>
            </tr>
            <tr>
                <td>14:00 - 14:20</td>
                <td>Insights from using ember.js in the field</td>
                <td>Stefan Fochler</td>
                <td>-</td>
            </tr>
            <tr>
                <td>14:25 - 15:00</td>
                <td>Ember Reusable Components and Widgets</td>
                <td>Sergey Bolshchikov</td>
                <td>-</td>
            </tr>
            <tr class="breakRow">
                <td colspan="3">Coffee Break With Snacks</td>
            </tr>
            <tr>
                <td>15:30 - 16:05</td>
                <td>Complex Architectures in Ember</td>
                <td>Matthew Beale</td>
                <td>-</td>
            </tr>
            <tr>
                <td>16:10 - 16:30</td>
                <td>Advanced Patterns</td>
                <td>Paul Chavard</td>
                <td>-</td>
            </tr>
            <tr>
                <td>16:35 - 16:45</td>
                <td>Closing Talk</td>
                <td>The Organizers</td>
                <td>-</td>
            </tr>
        </table>
    </div>
</div>