<h2>Meet the organizers</h2>

<p>A parapraph of text explaining why are we doing what we are doing. Also, links to how to reach us.</p>

<article class="person">
  <div class="row">
    <div class="small-12 large-2 columns text-center">
      <img src="/images/organizers/tair.png">
    </div>
    <div class="small-12 large-10 columns bio">
      <h4>Tair Assimov</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed ligula dictum, egestas odio hendrerit, mollis massa. Curabitur convallis cursus risus, id imperdiet leo rhoncus vitae. Nullam euismod lacus ac blandit mattis. Vivamus dictum adipiscing enim, et tempor lectus tincidunt ac. Ut dictum felis sem.
      </p>
      <div class="links">
        <a href="#" class="icon"><i class="foundicon-twitter"></i></a>
        <a href="#" class="icon"><i class="foundicon-github"></i></a>
        <a href="#" class="icon"><i class="foundicon-linkedin"></i></a>
        <!-- See social set here: http://zurb.com/playground/foundation-icons -->
      </div>
    </div>
  </div>
</article>
