<h2>Conference partners</h2>

<p>
  Conference partners are often what separates a good conference from a great
  conference! Having partners come on board early means that we will be able to
  plan and execute the event on a much larger scale!
</p>

<p>
  Ember Fest 2013 was a complete success, and for 2014 we have set our
  ambitions even higher! Hosted in Barcelona, Spain, Ember Fest 2014 will
  consist of a training course, workshops and an awesome 2-day conference!
  This is your chance to pitch in, in order to grow the Europena Ember.js
  community, and to make your brand know to the Ember.js Developers!
</p>

<p>
  There are multiple partnership options for 2014, which means you can choose
  a level that fits you! We want all partners to have the opportunity
  to join us at the conference!
</p>

<p>
  If you would like to become an Ember Fest Partner, please email us at
  <a href="mailto:mail@emberfest.eu?subject=Regarding Ember Fest Partnership!">mail@emberfest.eu</a>!
</p>

<h2>Fixed partnerships</h2>

<div class="row" id="sponsor-packages">
  <div class="small-12 large-4 columns">
    <ul class="pricing-table bronze">
      <li class="title">Bronze</li>
      <li class="price">€1000</li>
      <li class="description">Describe the bronze package</li>
      <li class="bullet-item">Tweet from @EmberFest welcoming you as a partner</li>
      <li class="bullet-item">Logo on emberfest.eu - Along with a 50 character description</li>
      <li class="bullet-item">Logo on projector in-between talks</li>
      <li class="bullet-item">Listed as Bronze partner</li>
      <li class="bullet-item">One free ticket to the event</li>
    </ul>
  </div>

  <div class="small-12 large-4 columns">
    <ul class="pricing-table silver">
      <li class="title">Silver</li>
      <li class="price">€1800</li>
      <li class="description">Describe the silver package</li>
      <li class="bullet-item">Tweet from @EmberFest welcoming you as a partner</li>
      <li class="bullet-item">Logo on emberfest.eu - Along with a 150 character description</li>
      <li class="bullet-item">Logo on projector in-between talks</li>
      <li class="bullet-item">Logo displayed under "partners" during the first 10 seconds of the recorded videos</li>
      <li class="bullet-item">Listed as Silver partner</li>
      <li class="bullet-item">Two free ticket to the event</li>
    </ul>
  </div>

  <div class="small-12 large-4 columns">
    <ul class="pricing-table gold">
      <li class="title">Gold</li>
      <li class="price">€2600</li>
      <li class="description">Describe the gold package</li>
      <li class="bullet-item">Tweet from @EmberFest welcoming you as a partner</li>
      <li class="bullet-item">Logo on emberfest.eu - Along with a 250 character description</li>
      <li class="bullet-item">Logo on projector in-between talks</li>
      <li class="bullet-item">Logo displayed under "partners" in the recorded videos</li>
      <li class="bullet-item">Listed as Gold partner</li>
      <li class="bullet-item">Logo printed on the back of the T-shirts handed out to the attendees</li>
      <li class="bullet-item">Four free ticket to the event</li>
    </ul>
  </div>
</div>


<h2>Variable Partnerships</h2>

<h3>Conference Dinner</h3>
<p>
  Sponsor the cost of the conference dinner, in order to get direct exposure
  to the attendees! Your partnership will be notably included in the conference programme!
</p>
<p>In addition, you will get all the benefits of a gold partner.</p>

<h3>After Party</h3>
<p>
  Sponsor the cost of the after party, in order to get direct exposure
  to the attendees! Your partnership will be notably included in the conference programme!
</p>
<p>In addition, you will get all the benefits of a gold partner.</p>

<h3>Main Video Sponsor</h3>
<p>
  Become the main sponsor of the recorded videos from Ember Fest. Your partnership will
  cover the cost of the videographer and video editing. Your partnership will
  be notably shown at the very start of each recorded video!
</p>
<p>In addition, you will get all the benefits of a gold partner</p>

<h3>Hackathon Dinner</h3>
<p>
  Sponsor the cost of the Ember Fest Hackathon! Your partnership will be notably
  included in the conference programme!
</p>
<p>In addition, you will get all the benefits of a gold partner</p>

<h3>Other ideas?</h3>
<p>
  If you'd like to become an Ember Fest partner, but you cannot find a suitable
  partner option, please contact us, and we will find a partnership option that
  works best for you!
</p>
