<h2>Your Profile</h2>

{{#if controllers.user.isLoggedIn}}
<div class="row">
  <div class="small-12 large-5 columns">
    {{user-details user=controllers.user.model buttonLabel="Update profile"}}
  </div>

  <div class="small-12 large-6 large-offset-1 columns">
    <p><em>You have suggested the following talks:</em></p>
    <ul class="inline-list">
      {{#each talk in talks}}
        <li>
          <h4>{{talk.title}}</h4>
          <ul class="inline-list">
            <li><a href="#">Edit</a></li>
            <li><a href="#">View</a></li>
          </ul>
        </li>
      {{/each}}
    </ul>
    <h3>Participant Information</h3>
    <p>If your talk is approved, you will be notified by one of the organizers personally. We will accept talks at regular intervals until two weeks before the conference starts. If none of your talks get approved, you will get the opportunity to buy a ticket at the price valid when you registered your talk.</p>
  </div>
</div>

{{else}}
<p class="talkRow">You need to sign in to view and edit your profile!</p>
<a {{action "doLogIn"}} class="button small">Sign in</a>
{{/if}}
