<div class="row">
    <div class="col-md-8">
        <h1>Register a new account</h1>
        {{#if controllers.user.model}}
            {{user-details user=controllers.user.model buttonLabel="Register your profile!"}}
        {{else}}
            <p class="talkRow">You need to sign in with you email (Mozilla Persona) to register your Ember Fest account<br /><br />
                <button class="btn btn-primary" style="width: 100%; margin-bottom: 10px;" {{action "doLogIn"}}>Sign in to register!</button>
            </p>
        {{/if}}
    </div>

    <div class="col-md-4">
        <h1>Why do I need to register?</h1>
        <p>In order for us to be able to accept your talk proposal, or ticket purchases we need to know who you are :) </p>
        <p>Once the conference start, you will also be able to use your account to give feedback to the speakers, as well as leave feedback for the conference.</p>
        <p>We take you privacy extremely serious, and will never share your personal details with anyone!</p>
        <h1>Mozilla Persona</h1>
        <p>Sign in is provided securely via Mozilla Persona. This enables us to authenticate and validate your email address without you ever having to provide Ember Fest with a password, as your password is safely stored with Mozilla Persona!</p>
    </div>
</div>