<div id="schedule" class="container content">
  <img src="/images/day1.png" alt="Day 1">
  <div class="side">
    <h1>Training</h1>
    <p>Training includes two full days of first class Ember.js training by the author of Ember.js in Action, and will allow you to get up to speed quickly with Ember.js. The price includes breakfast and lunch both days, as well as a copy of the e-book. Attendees will receive the printed book via mail when the book is released for print. At the end of day two, you are all invited to a proper dinner at a local restaurant. Attendees for the training, get a free pass to the conference on the 30th of August. The training session will wrap up with a demonstration where those attending the Ember Fest Hackathon will present their awesome application to the rest of the attendees!
    </p>
    <ul class="price-list">
      <li>Early Bird Training Special: EUR 500</li>
      <li>Standard Training Price: EUR 650</li>
    </ul>
  </div>

  <img src="/images/day2.png" alt="Day 2">
  <div class="side">
    <h1>Training</h1>
    <p>After the second full day of Ember Fest Training, the training session will wrap up with a demonstration where those attending the Ember Fest Hackathon will present their awesome application to the rest of the attendees!
    </p>
    <ul class="price-list">
      <li>Early Bird Training Special: EUR 500</li>
      <li>Standard Training Price: EUR 650</li>
    </ul>
  </div>

  <img src="/images/day2.png" alt="Day 4">
    <div class="side">
      <h1>Ember Fest Hackathon</h1>
      <p>In parallel with the second day of Ember Fest Training, there will be an awesome Ember.js Hackathon!. The Hackathon will be organized as a coding-session with less structure and more hands-on experiences! Due to room limitations, there will only be room for 30 people attending the Hackathon, first come first serve. The Hackathon will wrap up with a demonstration where each person/team will get to present their awesomeness to the rest of the group. This demonstration will also serve as the ending of the training session for those attending Ember Fest Training!
      </p>
    </div>

  <img src="/images/day3.png" alt="Day 3">
  <div class="side">
    <h1>Conference</h1>
    <p>The conference will be the Ember.js happening of the year in Europe with awesome presentations and tutorials throughout the day. We will serve a buffet-style lunch, as well as plenty of sweets and snacks throughout the day during the breaks. In the evening, there will be a conference dinner as well as an after party.
    </p>
    <ul class="price-list">
      <li>Early Bird Conference Price: EUR 120</li>
      <li>Standard Conference Price: EUR 150</li>
    </ul>
    FREE for Speakers!
  </div>

<img src="/images/day3.png" alt="Day 3">
  <div class="side">
  <h1>Schedule</h1>
    <table cellspacing="10" width="600">
    <tr class="scheduleHeader">
      <td width="100">Time</td>
      <td>Title</td>
      <td width="100">Presenter</td>
    </tr>
    <tr>
      <td>09:00 - 09:20</td>
      <td>Welcome and Registration</td>
      <td>The Organizers</td>
    </tr>
    <tr>
      <td>09:20 - 09:35</td>
      <td>Opening Talk</td>
      <td>The Organizers</td>
    </tr>
    <tr>
      <td>09:40 - 10:00</td>
      <td>Query params with the Ember router: past, present and future</td>
      <td>Alex Speller</td>
    </tr>
    <tr>
      <td>10:05 - 10:35</td>
      <td>Productive Out-of-the-Box</td>
      <td>Anthony Bull</td>
    </tr>
    <tr class="breakRow">
      <td colspan="3">Coffee Break With Snacks</td>
    </tr>
    <tr>
      <td>11:00 - 11:20</td>
      <td>Experiences building a hypervideo-based webapp with Ember.js, Popcorn.js and HTML5</td>
      <td>Thomas Herrmann</td>
    </tr>
    <tr>
      <td>11:25 - 11:50</td>
      <td>Custom Adapters in Ember Data</td>
      <td>Andy Leeper</td>
    </tr>
    <tr>
      <td>11:55 - 12:30</td>
      <td>Forget Passwords, Use Persona.</td>
      <td>Dan Callahan</td>
    </tr>
    <tr class="breakRow">
      <td colspan="3">Buffet Lunch Break</td>
    </tr>
    <tr>
      <td>14:00 - 14:20</td>
      <td>Insights from using ember.js in the field</td>
      <td>Stefan Fochler</td>
    </tr>
    <tr>
      <td>14:25 - 15:00</td>
      <td>Ember Reusable Components and Widgets</td>
      <td>Sergey Bolshchikov</td>
    </tr>
    <tr class="breakRow">
        <td colspan="3">Coffee Break With Snacks</td>
    </tr>
    <tr>
      <td>15:30 - 16:05</td>
      <td>Complex Architectures in Ember</td>
      <td>Matthew Beale</td>
    </tr>
    <tr>
      <td>16:10 - 16:30</td>
      <td>Advanced Patterns</td>
      <td>Paul Chavard</td>
    </tr>
    <tr>
      <td>16:35 - 16:45</td>
      <td>Closing Talk</td>
      <td>The Organizers</td>
    </tr>
    </table>
  </div>
</div>