<div id="tickets" class="container content">
  <img src="/images/tickets.png" alt="tickets">
  <h1>Tickets On Sale Until August 4th!</h1>
  <div class="row">
    <div class="side1">
      <p>The Early Bird Ticket Sale is available until May 20th. Purchasing an early bird ticket, will make it possible for the organizers to organize an Ember.js Hackathon on August 31st.</p>
    </div>
    <div class="side2">
      <iframe src="https://www.eventora.com/en/embed/ember-fest" width="680px" height="300px" style="border:0" allowtransparency="true" scrolling="auto" vspace="0" hspace="0" frameborder="0"></iframe>
    </div>
  </div>
</div>