<div id="venue" class="container content">
  <div class="venue">
    <h2>Venue</h2>
    <p>You will find Ember Fest in München, DE at the Holiday Inn Munich City Centre, located at Hochstrasse 3. The venue is located right in the heart of Munich within walking distance from Marienplatz. We have reserved space for 100 people, but we will be able to grow the event if we sell out within a reasonable time before the conference starts.</p>
    <p>München is located right in the middle of Europe. With a city motto of "München mag dich" (Munich likes you), we are sure all attendees of Ember Fest will feel right at home in this Bavarian city!</p>
    <div class="open-map">
      <a href="https://www.google.com/maps?f=q&hl=de&geocode=&q=hochstrasse+3,+munich&sll=37.0625,-95.677068&sspn=27.919765,59.238281&ie=UTF8&ll=48.133158,11.589847&spn=0.011457,0.028925&z=15&iwloc=addr&om=1">Open in Maps</a>
    </div>
  </div>
  <div id="venue-map" class="row"></div>
  <div class="arrangements">
    <div class="arrangements-content">
      <div class="hotel">
        <img src="/images/hotel.png" alt="">
        <h2>Hotel arrangements</h2>
        <p>We have arranged a set-price at the conference hotel, at 99 euros per night. In order to book your room at this rate, please provide the coupon code <span style="font-weight: 900">WN4</span> while ordering your room(s). You can either book <a href="http://www.holidayinn.com/redirect?path=hd&brandCode=hi&localeCode=en&regionCode=1&hotelCode=muchb&_PMID=99801505&GPC=WN4&blpu=true">online</a>, via <a href="mailto:hi.muenchen@whgeu.com">email</a>, or via phone: 0049 (0)89 4803 4444.</p>
      </div>
      <div class="snacks">
        <img src="/images/food.png" alt="">
        <h2>We provide Snacks</h2>
        <p>Your ticket includes snacks during the breaks, as well as a full buffet lunch during the lunch break. We will do our best to keep you well fed and happy during the conference! If you have any allergies or specific food requests, please contact the <a href="mailto:joachim@haagen-software.no">organizers</a> and we will make sure that everyone is catered for!</p>
      </div>
    </div>
  </div>
</div>